[2022-08-06 14:29] weibullguy commented on #2912
I've been cleaning up the docformatter open issues and PRs.  I just opened [#94](https://github.com/PyCQA/docformatter/issues/94) to add an argument (e.g., `--black`) to allow both tools to behave themselves when used together.  Poking around the black code, I see you're following [PEP 257](https://peps.python.org/pep-0257/#handling-docstring-indentation) for docstring indentation (which should be

[2022-08-08 01:57] wenh06 opened #3212 "Incorrect handling the content of the .gitignore file"
**Describe the bug**

The excluded files in the `.gitignore` file (starts with `!`) are ignored by `black`, which should not be a correct behaviour.

**To Reproduce**

The `.gitignore` file contains the following lines

[code]

which make `git` ignore all `.ipynb` files except the `experiment.ipynb` file.

And run it with these arguments:

[code]

The resulting error is:

**Expected behavior**

`e

[2022-08-08 02:07] jack1142 commented on #3212
`experiments.ipynb` != `experiment.ipynb` so are you sure you didn't make a typo?

[2022-08-08 03:16] jerryc05 opened #3213 "code inside fstring not getting formatted"
**Describe the bug**

code inside fstring not getting formatted
**To Reproduce**

For example, take this code:

[code]

And run it with https://black.vercel.app/?version=main:

The result is:

[code]

**Expected behavior**

[code]

**Environment**

- Black's version:
- OS and Python version:

**Additional context**

[2022-08-08 03:19] ichard26 commented on #3213
Hey @jerryc05 thanks for filing a bug report. This is actually a long-standing shortcoming of Black that we've yet resolved. To keep things more organised, I'll be closing this issue as a duplicate of https://github.com/psf/black/issues/567.

[2022-08-08 03:19] #3213 closed

[2022-08-08 08:54] wenh06 commented on #3212
Oh, I see. `git` tracks my `experiments.ipynb` but ignores all the rest notebooks. Perhaps it is because I added
[code]
in the `.gitignore` file after I added `experiments.ipynb` via `git`.

[2022-08-08 08:54] #3212 closed

[2022-08-09 13:20] pmp-p opened #3214 "add -x : skipping first line like cpython does"
https://docs.python.org/dev/using/cmdline.html#cmdoption-x
allows for non standard shebang on dos and web source files.
Black should allow the exact same option allowing to skip the first line and leave it untouched.

web use case : https://pygame-web.github.io/wiki/pygame-script/

https://pygame-web.github.io/showroom/pygame-scripts/org.pygame.touchpong.html
[code]

[2022-08-10 03:28] hauntsaninja commented on #2907
Author of `iter_fexpr_spans` here, it's feasible for most normal cases. The case where it wouldn't help is with feature version detection in nested f-strings, e.g. `f"heard a rumour that { f'{1+1=}' } ... seems like it could be true"`, but that's niche enough that we can ignore it.

[2022-08-10 04:17] hauntsaninja commented on #2907
Btw, @Zac-HD you were asking about things I'd used hypothesis for :-) Pretty sure hypothesis caught a small bug when I was testing `iter_fexpr_spans`, see https://github.com/psf/black/pull/2654#issuecomment-981411748

[2022-08-10 21:29] #2907 closed

[2022-08-11 00:31] ichard26 commented on #3124
We could also probably use [`packaging.specifiers.SpecifierSet`](https://packaging.pypa.io/en/latest/specifiers.html#packaging.specifiers.SpecifierSet) to parse `[project].python-requires`. Not sure whether to hard depend on `packaging` or add it as an extra since it's not core Black functionality.

[2022-08-11 22:21] ichard26 commented on #3192
GH-3197 resolves this issue by moving to macOS 11. It also unpins the Ubuntu version since the manylinux wheels will be built in a manylinux docker image so the host OS isn't super relevant. I didn't upgrade Windows because I wasn't able to wrap my head around how the MSVC C toolchain works so I'm not sure whether the upgrade from Windows 10 Server 2019 to 2022 is OK or not.

Either way, Windows 1

[2022-08-12 19:38] stinodego commented on #3124
`packaging` was a great suggestion - it does exactly what we need. I have a working implementation now; will open a PR when I have added tests.

I'll first add it as a hard dependency - we can adjust in code review if required.

[2022-08-12 19:52] ichard26 commented on #3124
That's great, thank you for looking into this! I look forward to the PR :)

[2022-08-12 22:31] Hubro opened #3218 "The blackd daemon doesn't work, it just returns the input source code with line endings stripped"
**Describe the bug**

The Black HTTP daemon (`blackd`) doesn't reformat code, it just prints it right back at me with line endings stripped.

**To Reproduce**

For example, take this code:

**test.py**:

[code]

And pass it to the Black daemon (run with `blackd`):

[code]

The resulting output is:

[code]

All the daemon did was write my code back to me, with all line endings stripped :thinking:

[2022-08-13 03:23] #3195 closed

[2022-08-13 03:33] #3192 closed

[2022-08-13 08:30] SabinXtha1 opened #3221 "Top"
**Describe the style change**

**Examples in the current _Black_ style**

[code]

**Desired style**

[code]

**Additional context**

[2022-08-13 10:30] hugovk commented on #3124
The Requires-Python metadata can be in `pyproject.toml`, `setup.cfg` or `setup.py`.

Would Black only support reading from `pyproject.toml`?

I usually put it in `setup.cfg`, but am fine if Black only wants to read `pyproject.toml`, because it's already doing so for other config. (And it may also drive further `pyproject.toml` adoption.)

[2022-08-13 13:39] JelleZijlstra commented on #3221
We are not going to strip docstrings.

[2022-08-13 13:39] #3221 closed

[2022-08-13 13:41] #2296 closed

[2022-08-13 13:48] JelleZijlstra commented on #3124
I wouldn't want Black to read other config files than `pyproject.toml`; that's asking for a lot of additional complexity.

[2022-08-13 18:44] cibinmathew commented on #3218
Below worked for me. But I am not sure why the other didn't
[code]

[2022-08-13 23:24] ichard26 commented on #3080
Hi @jpy-git, I hope you've been doing well.

Given your current open PR (GH-2996) is good to go implementation-wise and is just awaiting a decision on whether the formatting is a good idea or not, I thought it'd be good to give you something to work on (that has been already accepted design-wise) in the meanwhile :) This issue is quite similar to your PR (GH-3080) fixing GH-2338 so it shouldn't be

[2022-08-14 15:20] ssbarnea commented on #1519
The irony is that the correct accepted syntax for `pyproject.toml` looks like:
[code]

[2022-08-15 15:37] LuisBL opened #3225 "comments removed by black in case the following line has a fmt skip"
**Describe the bug**

comments removed by black in case the following line has a fmt skip

**To Reproduce**

[code]
if we run it

[code]

The resulting error is:

black should not remove this comments

**Expected behavior**

keep the comments

**Environment**

- Black's version: with black 22.6.0:

[code]
- OS and Python version:

[code]

[2022-08-15 20:18] felix-hilden commented on #1765
Just for housekeeping and eventual implementation, this is likely closely related to #749.

[2022-08-15 20:29] felix-hilden commented on #2268
Just to note, this is the polar opposite of #2553.

[2022-08-15 20:31] felix-hilden commented on #2553
Thanks for the suggestion, it's opposite to #2268, and if it was implemented it would make #3159 pretty redundant. I don't feel strongly, but to me this is more readable than no parens. I'm not sure if this or parens are better.

[2022-08-15 20:38] felix-hilden commented on #3134
Thank you for the suggestion, but I don't think we should refrain from joining strings in general. In fact, we specifically introduced "experimental string processing" for this, and I don't see a good way of determining when the join shouldn't happen. We aim to ignore previous formatting, and looking at the content seems like endlessly complex guesswork.

The string looks a lot better in `--previe

[2022-08-15 20:38] #3134 closed

[2022-08-15 20:41] felix-hilden commented on #2947
Also related to #236. Feel free to close if you'd be happy with any of the proposed duplicate issues being resolved!

[2022-08-15 20:48] felix-hilden commented on #3182
Thank you for the suggestion, but unfortunately we won't do this. For your particular example it is a lot more readable, but it is not a style we want to have in general or guess when it is appropriate over the ordinary item-per-line style. `# fmt: off/on` is a good solution here.

[2022-08-15 20:48] #3182 closed

[2022-08-15 21:34] felix-hilden commented on #3225
This has been fixed in main ([playground](https://black.vercel.app/?version=main&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4AG_ARldAD2IimZxl1N_WlbvK5V-ga_a-s_1uAoO8hDc-6_7fjVlho4ZlUJn6TkaBXjUy22A8cUg3QxFTdD83pTG-aj5KkIAjcP-C3zC1-0K7EMuGCSRvuQ2Uhwh37EPDPNSNMbQ0209zOoLxAOzH9KofnLcPGNRgzwJAkplxxWgxZoqFUfl75fbO0v7Z2lcURO6twLEOpSpywlKe4r2DmkwFcWytV3yAaSNBUQ8tN0HrmA0TEu2-R65pI7AavCXnMW-Q6O8aYl4mca0hc02MOBE4

[2022-08-15 21:34] #3225 closed

[2022-08-16 10:12] chasefinch commented on #2553
Yeah I still think this is the way to go.

[2022-08-16 19:58] felix-hilden commented on #3206
Nice, weekly seems rare enough and we might catch a rare dependency issue sooner as well.

[2022-08-18 04:46] ajasmin opened #3228 "Incorrect handling of .gitignore negate pattern"
**Describe the bug**

When adding a name to .gitignore and negating a specific directory of that name, black incorrectly ignores the files it contains.

**.gitignore**
[code]

**To Reproduce**

By running this shell script you should see that git doesn't ignore the file but black does.

[code]

[2022-08-18 06:02] jack1142 commented on #3228
It appears to be a bug with pathspec not handling exclusions correctly for directories without a trailing slash (this also gives you a workaround for this issue - just add a trailing slash):
[code]

I don't think there are any open issues for this on the pathspec repo so could you report it there?
https://github.com/cpburnz/python-path-specification/issues

[2022-08-18 07:22] ajasmin commented on #3228
This example was poorly chosen as *build* is also part of black default exclude regex.

[2022-08-18 13:50] nyuszika7h opened #3229 "Trailing commas not removed when dict/function call collapsed into single line"
**Describe the bug**

When a multiline dict/function call is collapsed into fewer lines by black, it seems to leave stray trailing commas. This does not happen when using `--skip-magic-trailing-comma`.

**To Reproduce**

For example, take this code:

[code]

And run it with these arguments:

[code]

The resulting output is:

[code]

**Expected behavior**

The output should look something like this

[2022-08-18 15:09] cooperlees opened #3230 "Complete 3.11 Support"
Some dependencies are blocking us testing black to make sure we're 100% 3.11 ready. Let work with/around them for now to at least get partial testing into CI.

This issue to to track all the needed fixes to get us there. Will get more detail here are we learn.

## Known Issues

- aiohttp for blackd
  - Will look at skipping blackd tests for now for 3.11
- mypyc compiling

Step 1: Get partial 3.11

[2022-08-18 17:10] joseph-wortmann opened #3231 "Version 22.6.0 fails on MacOS M1 systems"
Running the latest version of black on MacOS M1 systems fails with the following error:

[code]

The previous version (22.3.0) works correctly.

[2022-08-18 17:15] ichard26 commented on #3231
Hmm interesting. I haven't changed anything about the build configuration or toolchain between 22.3 and 22.6. We have wheels for arm64 and universal2 (ie. code for both x86_64 and arm64 in a single wheel) so it should just work.
![image](https://user-images.githubusercontent.com/63936253/185455409-68f8d649-8653-464b-8870-c5e5ce46b00e.png)

Unless arm64e is a different architecture than arm64 from

[2022-08-18 17:18] ichard26 commented on #3231
The only change I can think of is that something on the host GHA macOS runner (which is mostly out of our control) got upgraded and broke something, but I have no clue.

[2022-08-18 17:38] ichard26 commented on #3231
Oh and if you need to get 22.6.0 working, you can install Black from source via `pip install black --no-binary=black` avoiding all mypyc related shenanigans. Could also download the pure wheel from PyPI, but installing from source should be easier.

[2022-08-18 17:56] ichard26 commented on #3230
Regarding aiohttp there's two main problems that make testing 3.11 a bit of a pain:

- aiohttp's `AioHTTPTestCase` class seems to be completely broken on 3.11 ([here's an example pytest run showing it blow up](https://paste.pythondiscord.com/bilicumawi.py))
  - https://github.com/aio-libs/aiohttp/issues/6757
- aiohttp is still uninstallable on 3.11 as their Cython sources have not been regenerated

[2022-08-18 20:13] joseph-wortmann commented on #3231
For now I just downgraded. I just thought you should know about the M1 error.

[2022-08-19 02:52] JelleZijlstra commented on #3228
Thanks, closing as the bug appears to be in our dependency, not in Black itself.

[2022-08-19 02:52] #3228 closed

[2022-08-19 14:04] mtsadler-branch commented on #2774
@asears https://github.com/psf/black/issues/3111

[2022-08-19 14:11] cooperlees commented on #3231
Howdy - I can not reproduce your error. Can you share how you install please?

[code]

[2022-08-19 14:13] cooperlees commented on #3231
I even tried with 3.9

[code]

[2022-08-19 14:38] joseph-wortmann commented on #3231
@cooperlees I hate it when software does this, but I cannot reproduce it now either, and I reproduced it in multiple virtual environments prior to posting the bug. In fact, I just flipped back to the latest release one of the env's that it was happening in yesterday (I had downgraded black there), and it worked as expected.

I apologize for wasting your time. Suggest that we close this unless/unti

[2022-08-19 14:40] #3231 closed

[2022-08-21 21:29] ichard26 commented on #3169
**Update**, the next release after 22.8.0 (#3163) will drop 3.6 support (for running Black only). It's undecided whether the next release will happen in September or October, so the milestone mayyy be a month early.

We decided that keeping 3.6 support after it's been EOLed for a while doesn't really make sense anymore since folks still using 3.6 can probably upgrade to 3.7 (having not already bec

[2022-08-22 03:14] jack1142 commented on #3228
Since it doesn't seem like you got around to it, I made an issue to track this: https://github.com/cpburnz/python-path-specification/issues/57

[2022-08-22 07:28] tysonclugg commented on #3087
Sorry to keep bringing this up, but I feel this issue needs to be addressed sooner rather than later.

There are a slew of currently open issues that would have a clear path to resolution (perhaps not in the manner that people were expecting) should black give a guarantee the AST is never changed by default:
- #1471
- #1654
- #1698
- #1779
- #2150
- #2188
- #2199
- #2289
- #2683
- #2865
- #2885
-

[2022-08-22 10:15] jakub-m opened #3236 "Black crashes when "fmt: off/on" is used with "with" expression"
**Describe the bug**

Black crashes when "fmt: off/on" is used with "with" expression.

**To Reproduce**

For example, take this code:

[code]

And run it with these arguments:

[code]

or check in black console online [HERE][ref_console].

The resulting error is:

**Expected behavior**

Should not crash. I use "fmt: off" and "fmt: on" to prevent moving multiple "with" into one a single line.

**E

[2022-08-22 23:48] ichard26 commented on #3228
Thank you @jack1142!

[2022-08-23 03:40] #2734 closed

[2022-08-23 15:19] graingert commented on #2593
is this the same problem?:

input is

[code]
output is
[code]

[2022-08-24 19:07] felix-hilden commented on #3087
Perhaps safe to say that having Shades(TM) in their full glory is rejected. We most probably won't revert all unsafe changes: the new string processing is great! Docstring modifications are clearly the biggest (and the only?) pain point beyond wanting strict AST-safety. I sympathise with Jelle on wanting Black to be the one-stop formatter, but as we've rejected import sorting, docstring formatting

[2022-08-25 02:26] Zac-HD commented on #3087
Strong vote for the latter from me!

Configuration is terrible, pointing to other tools is great. Let the agglomeration happen in downstream formatters, which can wrap black - and die off without causing ecosystem-wide issues.

[2022-08-25 05:53] Opalo opened #3238 "Is there any way to avoid __getitem__ fom"
**Describe the style change**

**Examples in the current _Black_ style**

[code]

**Desired style**

[code]
**Additional context**
Actually I've no idea why `prepare[-1]` was formatted and `prepare[0]` not. Is there an option to avoid this kind of formatting?

[2022-08-26 05:10] nipunn1313 opened #3239 "magic trailing comma not working in certain scenario"
**Describe the bug**

Trailing commas are incorrectly being ruthlessly collapsed into one line

**To Reproduce**

Reproes in the black playground
[code]

Result is
[code]

**Expected behavior**

I'd expect no change to the Literal writeout.

**Environment**

Black 22.6.0 in the black playground.

**Additional context**

I noticed that if we eliminate the `self` argument, then black works correctly

[2022-08-26 09:01] maxmunzel opened #3240 "INTERNAL ERROR: Black produced different code on the second pass of the formatter."
Hey All! Stubled upon this, hope this is still relevant
[code]

This version produced the error:
[code]

This version handles it fine:
[code]

[TableWidget.py.txt](https://github.com/psf/black/files/9431754/TableWidget.py.txt)
[blk_c76gbp19.log](https://github.com/psf/black/files/9431735/blk_c76gbp19.log)

[2022-08-26 13:44] Freed-Wu commented on #1576
Black use [click](https://github.com/pallets/click/) as its command line parser library. click has a related library named [click-completion](https://github.com/click-contrib/click-completion) to generate bash/zsh/fish completions. It is no need to write shell completion manually, just need someone who know click-completion to add this feature.

[2022-08-26 16:37] JelleZijlstra commented on #3240
Since it's apparently fixed in a recent version, I don't think this is actionable.

[2022-08-26 16:37] #3240 closed

[2022-08-26 18:35] Freed-Wu commented on #1576
This is method: <https://click.palletsprojects.com/en/8.1.x/shell-completion/>

Should contact the packager of linux distribution to do this job.

And this issue can be closed. :smile:

[2022-08-26 21:07] #3207 closed

[2022-08-26 21:07] TomFryers opened #3241 "Convert lists to tuples when safe"
**Describe the style change**

There are some situations in which lists and tuples have equivalent semantics, which presents an opportunity for standardisation. Tuples should be marginally faster.

**Examples in the current _Black_ style**

[code]

**Desired style**

[code]

There may be more cases I have missed. (Star unpacking? But why would one do that with a list/tuple literal?)

**Additional

[2022-08-26 23:16] Hubro commented on #3218
Thanks, I didn't know that. Should Black give some indication that the input is bad in this case?

[2022-08-26 23:56] hauntsaninja commented on #3239
I believe I've fixed this on main (you'll need to remember to use `--preview` because it's a change that changed formatting)

[2022-08-27 01:11] #2564 closed

[2022-08-27 19:44] ichard26 commented on #3229
Looks similar to https://github.com/psf/black/issues/2052. Thanks for reporting by the way!

[2022-08-27 19:49] ichard26 commented on #3178
Yup, just for context for anyone else who stumbles across this issue, the general advice for STDOUT/STDERR is that all user-readable status messages should go to STDERR, not just error messages. Why? to separate them from the data being operated on, this makes using Black's via STDIN or with `--diff` much nicer (no manual filtering of the output is needed, just capture the STDOUT).

See also https

[2022-08-27 19:57] ichard26 commented on #3085
I'll note that if we accept this it must be disabled by default so tools that call black in a subprocess with `--diff` can use the diff without needing to manually strip `↲`. We'd have to add another flag (or maybe hack it into `--color`?)

[2022-08-27 22:04] ichard26 commented on #3218
There's nothing Black can do here because the stripping of newlines nets this:
[code]
which is just one long comment :upside_down_face: If you remove the shebang line, blackd will return `HTTP 400 Bad Request`
[code]

[2022-08-27 22:06] Hubro commented on #3218
@ichard26 Aah dang, good point. Seems I'm just wasting people's time here, I'll show myself out! :sweat_smile:

[2022-08-27 22:06] #3218 closed

[2022-08-27 22:08] ichard26 commented on #3218
No worries, it took me way longer than it should've to notice that the input was all just one big comment. I thought our error handling logic was broken :sweat_smile:

[2022-08-28 15:38] felix-hilden commented on #3085
True and good catch. But this doesn't seem worthy of a dedicated flag like `--highlight-trailing-spaces`. Perhaps something like `--rich` for color + whatever else magic we want to add? 🤷‍♂️

[2022-08-29 11:43] trbjo commented on #3178
I know you are probably not going to change the behavior, but I think an approach that would be more in line with the rest of the Unix command line tools would be to simply print nothing on success.

[2022-08-29 15:42] #3087 closed

[2022-08-29 16:04] felix-hilden commented on #2150
Hi, we've discussed the docstring issue once more in #3087 and decided that it will keep happening. And we will not provide a toggle for disabling that behavior. #2168 fixed a concrete problem, and we'll be happy to consider any real-world issues. But I'll close this issue for housekeeping.

[2022-08-29 16:04] #2150 closed

[2022-08-29 16:07] felix-hilden commented on #2865
Related to #2289

[2022-08-29 16:10] felix-hilden commented on #2912
I agree that separating the quotes looks nicer. Since it's being fixed on their side, are we good to close this issue?

[2022-08-29 16:45] felix-hilden commented on #3236
Hi, fmt on/off need to be on the same indentation level. This is an issue in #569, and we intend to fail gracefully in this case #2985 so that the error message is clearer. I'll close this as a duplicate!

[2022-08-29 16:45] #3236 closed

[2022-08-29 21:37] jakub-m commented on #3236
@felix-hilden I don't think this is a duplicate. The example also fails when I move the directives to the same indentation level:

[code]
or
[code]
or
[code]

[2022-08-30 05:37] felix-hilden commented on #3236
None of them are truly on the same indentation level in code. Try:

[code]

[2022-08-30 05:42] jakub-m commented on #3236
Yes, that works, thanks. But that was not the intention. I want to format the body of the `with` block, I just don't want to format the multi-line `with` line. I want to skip formatting for a single line, not the whole block.

[2022-08-30 05:54] felix-hilden commented on #3236
Yes, I get that. But this is how fmt off needs to be used. We've got fmt: skip for one-line skips, perhaps that'll help!

[2022-08-30 09:05] martinResearch opened #3244 "support comment # black: off"
**Is your feature request related to a problem? Please describe.**

I am currently using autopep8 to format the code in a repository and would like to gradually migrate only a part of the code to black formatting. In order to do this easily, I would like to be able to ignore selectively individual files by adding a comment at the top of the file I want to ignore. I can use "# fmt: off" but then th

[2022-08-30 14:40] JelleZijlstra commented on #3244
We also support `# yapf: disable` in order to disable Black. I don't know if autopep8 recognizes that too.

I'm not inclined to add yet another magical comment with new semantics. Black's configuration story is already getting complicated, and our advise is to apply Black all at once, not piecemeal.

[2022-08-30 14:40] #3244 closed

[2022-08-30 17:37] WoosterInitiative opened #3245 ""Complete" example of pyproject.toml."
The existing example pyproject.toml has the `extend-exclude` options commented out, so the syntax isn't correct. It's possible that it's self-evident to others, but I have not been able to wrap my head around the proper way to do it. It appears that it does _not_ work like the `include` option.

Here's what mine looks like right now, but returns:
`Error: Invalid value for '--extend-exclude': Not a

[2022-08-30 17:38] WoosterInitiative commented on #3245
#2835

[2022-08-30 17:55] WoosterInitiative commented on #3245
Aaaaaand, now I'm feeling sheepish. I see that the single quotes in the example are actually triple single quotes. So it _is_ a complete example, I just can't read.

I still feel that it  could be more consistent with the `include` option, but not enough to require its own PR.

[2022-08-30 17:55] #3245 closed

[2022-08-30 20:43] yilei commented on #2843
We are agreeing that Black can't know the perfect location of the pragma, but I do think we are able to _statistically_ improve the heuristic here.

To get to a better heuristic, I collected some data from our internal code base for `# pylint: disable=` pragmas (since we use Pylint).

I have a local patch to Black to move the pragma to different places:

1. `status-quo`: The current _Black_'s beha

[2022-08-31 02:52] #3159 closed

[2022-08-31 03:56] hauntsaninja commented on #3241
Not a maintainer, but this feels like the kind of thing that would be surprising for black to do. Note that CPython will literally make this kind of transformation for you (run `dis.dis` to see the bytecode), so there will not be any performance benefit.

[2022-08-31 04:28] cooperlees commented on #3241
I am also not a fan of Black, a formatter, changing a mutable sequence into an immutable sequence.

I feel this is more something like [flake8-comprehensions](https://pypi.org/project/flake8-comprehensions/) should warn on / suggest maybe ... I don't know of an auto-corrector tool that will change the AST.

Black tries very hard not to alter the AST. I'll leave this up for more debate, but I don't

[2022-08-31 06:48] DanielNoord commented on #2843
@yilei `open-paren` seems to make sense to me. There are many cases where this won't work as many linting errors are raised on `ast` nodes somewhere in the middle of line, but it is definitely an improvement over putting them at the end of the line.

I was wondering though, if you are indeed going to special case `pylint` would you consider creating a `# pylint: disable-next:` comment on the line

[2022-08-31 07:19] Pierre-Sassoulas commented on #2843
I'm guessing this is not something that would be accepted by the black team (because this is so pylint specific) but automatically changing ``pylint: disable`` to ``pylint: disable-next`` on the previous line for line that are too long (but become the right length without the pylint comment...) could remove a lof of problematic cases too.

I.e. this:

[code]

Could become this:
[code]

This does n

[2022-08-31 16:12] ip1981 commented on #1281
Note that GNU fmt (in general) and GNU indent (for C) both have such heuristics.

[2022-08-31 19:47] #2598 closed

[2022-08-31 23:12] ichard26 opened #3249 "Release 22.10.0 (October 2022) planning"
22.8.0 has been cut, let the planning for ~~22.9.0~~ 22.10.0 begin!

Please use/see the associated milestone for what should ideally be done. Suggestions are welcome in this thread.

I'll note that this release we are planning to remove Python 3.6 runtime support and switch to Hatch. I plan to handle that myself, but this is a somewhat major change hence the mention. I will not be the RM for this

[2022-08-31 23:23] ichard26 opened #3250 "Fix start up code to also call freeze_support() on macOS when frozen so native macOS executables work"
I broke the native macOS executables. [The build for 22.8.0 failed](https://github.com/psf/black/runs/8124297895?check_suite_focus=true) since the executable failed the basic sanity checks pre-upload
[code]

When I first submitted https://github.com/psf/black/pull/3211 I checked how the stdlib guards the `freeze_support()` call and copied it:

- https://github.com/python/cpython/blob/2ecc195498f3b

[2022-08-31 23:26] ichard26 commented on #3163
Release 22.8.0 has been cut! :tada: The mypyc wheels built without incident using the new automation that's in-place and almost everything else went smoothly. Unfortunately I broke the macOS native executable so there won't be one available for 22.8.0 unless people need it soon (see also https://github.com/psf/black/issues/3250).

[2022-08-31 23:26] #3163 closed

[2022-08-31 23:40] ichard26 commented on #2589
It is now policy to update the stable branch after the release automation upload the sdist and wheels to PyPI. This is automated so this shouldn't be an issue anymore. It might be a good decision to not wait for the mypyc wheels to build and upload though since that can take a while (up to 30 minutes).

[2022-08-31 23:40] #2589 closed

[2022-08-31 23:41] ichard26 commented on #3147
It is now policy to update the stable branch after the release automation upload the sdist and wheels to PyPI. This is automated so this shouldn't be an issue anymore. It might be a good decision to not wait for the mypyc wheels to build and upload though since that can take a while (up to 30 minutes).

I'll break out the last documentation suggestion into its own issue later.

[2022-08-31 23:41] #3147 closed

[2022-08-31 23:48] JelleZijlstra commented on #3147
Waiting seems reasonable since arguably it's not "stable" until we have the mypyc wheels that most users will use. But I don't think it really matters, let's just stick with what's easiest.

[2022-09-01 00:03] ichard26 commented on #3147
I agree, unless people get confused by the delay, it's probably best to leave it be for now :+1:

[2022-09-01 00:28] ichard26 commented on #2503
`stable` is now a branch once again since 22.8.0.

[2022-09-01 00:28] #2503 closed

[2022-09-01 04:25] #2560 closed

[2022-09-01 04:55] polyzen opened #3251 "BlackDTestCase.test_cors_preflight failure on 22.8.0"
**Describe the bug**

BlackDTestCase.test_cors_preflight test failure:

<details>
  <summary>show/hide</summary>

[code]
</details>

**To Reproduce**

https://github.com/archlinux/svntogit-community/blob/8ef0305f6c9b28df533696a7e54d08269dc75aa8/trunk/PKGBUILD#L33-L35

[code]

The package build process also hangs after the above output.

**Expected behavior**

Test passes and we all live happily ev

[2022-09-01 17:22] martinResearch commented on #3244
Thank you for the suggestion. Autopep8 does not seem to recognize "# yapf: disable", so it solves my problem for now :) . But that does not seem to be a very elegant solution and maybe autopep8 " will start supporting  #yapf" comments in the future.

It does not seem to me that supporting "# black: off" complicates much the configuration story.  Black support already specific string related to alt

[2022-09-01 17:51] ichard26 commented on #3251
Hmm, the OSError sounds like a host issue where some application or code is opening many files and isn't closing them. (Are there many other processes on the system?) I don't believe Black leaks file descriptors anywhere? Blackd could be leaking some, but I have no idea. `ProcessPoolExecutor()` is a pretty typical use so there shouldn't be anything wrong with that.

[2022-09-01 18:52] polyzen commented on #3251
It's a build server used for Arch Linux packages. The test passes and the build completes when done locally 👍.

[2022-09-02 01:47] nipunn1313 commented on #3239
at least according to https://black.vercel.app/?version=main&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4AC-AINdAD2IimZxl1N_WlbvK5V-fxcIRXBgNMb3PFjqcfxrMLJktSq6aRkCvRw96aIv09NBV5YAN_i6LoE0TXjAbbQNrVw7f1j0gc081LNWKW-py5In4PDB2yLCB7g7UtBGcgpzfVSuBjKXeq0n0j_UCcVdPayPJYNVCTnoYOpOVSTXbdZaNMEqAABhxmDJI41ybQABnwG_AQAAAG3WVrHEZ_sCAAAAAARZWg== - it doesn't seem fixed

[2022-09-02 02:03] JelleZijlstra commented on #3239
Yes, not fixed yet:

[code]

(22.8.0 is the same as main right now)

[2022-09-02 02:08] hauntsaninja commented on #3239
@nipunn1313 your playground link does not check the box that says "Don't use trailing commas as a reason to split lines."
@JelleZijlstra you didn't pass `--skip-magic-trailing-comma`

[code]

[2022-09-02 02:09] nipunn1313 commented on #3239
I want the default behavior of the magic trailing comma!

It appears that the magic trailing comma's behavior is not being respected in this case.

[2022-09-02 02:11] hauntsaninja commented on #3239
Okay, sure. Your issue title `skip_magic_trailing_comma=true` seems incorrect then?

Note that this was a trailing comma that wasn't removed with `--skip-magic-trailing-comma` until https://github.com/psf/black/pull/3209, hence my claim in https://github.com/psf/black/issues/3239#issuecomment-1229048100

[2022-09-02 02:14] nipunn1313 commented on #3239
OOPS. I totally inverted my statement in the title of the task! Booleans are hard.
Editing title

[2022-09-02 02:14] hauntsaninja commented on #3239
I think your example is basically a duplicate of https://github.com/psf/black/issues/2498 which was closed as a duplicate of https://github.com/psf/black/issues/1671 although the issue title doesn't quite apply to #2498

[2022-09-02 02:17] JelleZijlstra commented on #3239
Yeah I think this is basically #1671.

[2022-09-02 02:17] #3239 closed

[2022-09-02 09:24] JulienPalard commented on #2845
Can reproduce with `black==22.8.0`.

[2022-09-02 14:06] ichard26 commented on #2845
https://github.com/python/mypy/pull/13152 fixes this, but it hasn't made its way into a mypy release yet. The next release is being tracked in https://github.com/python/mypy/issues/13385 but it seems to be late (as usual for mypy). Once mypy cuts a new release I'll upgrade our mypy cibuildwheel requirement, resolving this.

[2022-09-02 14:55] rhkubiak commented on #3036
Hi,

The presence of COMMENT_EXCEPTIONS in black's code is somewhat weird. I find it a very useful that black left some comments intact. Such comments can be processed by external tools. For them, e.g. the ones dealing with literate programming, it is important that comments were passed to them verbatim. I am working on such a tool and it surprised me that black mangled my comments.

It would sati

[2022-09-02 15:08] ichard26 commented on #3036
I wonder if it would be fine to just avoid adding the space if the first character is not an alphanumeric character or a space or a period. I much prefer if we don't introduce another formatting option just for this and playing duck duck goose with the various integrations and pre-processors out there seems untenable.

The main downside would be commented code could be broken by inconsistent spaci

[2022-09-02 15:17] jsal13 commented on #3241
Agreed with the previous two comments --- this is a fundamental change from mutable to immutable objs which can potentially create confusion for the coder in larger code-bases where this change is not obvious.

It would be tricky to check something like this:

[code]

Since if this were to change `my_cool_list` to a tuple, mypy would report the warning `Argument 1 to "print_out_list_items" has inc

[2022-09-02 17:25] TomFryers commented on #3241
@hauntsaninja You are correct. The iteration versions have had the same bytecode since 3.6, and the containment check optimisation is older still. So for all supported versions of Python, the performance will remain unaffected.

@cooperlees It would only be making mutable sequences immutable in situations where there's not way to mutate them anyway, so that shouldn't matter. I understand if it's c

[2022-09-02 19:14] TomFryers commented on #3238
Related to #2920 and all the issues linked from there.

[2022-09-03 04:28] BenjaminHoegh opened #3253 "Disabling E501 hurts E225"
When I add `--ignore=E501` to VSCode it also stop using E225. Any idea why?

[2022-09-03 07:18] hugovk commented on #2243
Looks like these have since been fixed, running locally I don't see any warnings:

[code]

[2022-09-03 07:24] tirkarthi commented on #2243
Thanks @hugovk, I can confirm the same and closing the issue.

[code]

[2022-09-03 07:24] #2243 closed

[2022-09-03 09:32] TomFryers commented on #3253
I'm not sure what that has to do with Black. It sounds like a VS Code, Flake8 or pycodestyle issue.

[2022-09-03 12:33] Neykuratick commented on #737
https://stackoverflow.com/a/66155767/13246657

[2022-09-03 14:25] ichard26 commented on #2243
Thanks for keeping tabs on this @hugovk @tirkarthi!!

[2022-09-03 16:37] Bobronium commented on #3207
Thank you!

[2022-09-04 20:18] ichard26 commented on #3251
Ah thanks for checking!

Is something on Black's end we can do to help with this, or can we close this issue as "check the downstream build server for FD overusage"?

[2022-09-04 20:56] foutrelis commented on #3251
The discrepancy between local and remote could be due to the higher thread count on the build box (64 threads). The default open file limit is 1024 and running the test suite with so many threads somehow reaches it. If a fix cannot be implemented upstream, a downstream workaround would be to `ulimit -n 2048` before running the tests.

[2022-09-04 21:03] ichard26 commented on #3251
Alright thanks for the insights, I can try investigating later. It is surprising how a single pytest run would run into an open file limit of 1024.

[2022-09-04 21:26] foutrelis commented on #3251
Indeed, which makes it more likely that open files from previous tests are involved. If I run only the 16 tests from `tests/test_blackd.py`, they all pass. The failure occurs when they run after the 110 tests from `tests/test_black.py`.

[2022-09-05 00:40] KotlinIsland opened #3255 "(🐞) Windows line endings not preserved with blackd"
**Describe the bug**
[code]
(NOTE: I am using \` here to demonstrate a Windows moment, feel free to replace the data with `-d 1\r\n` if you are using a shell like `fish` or something)

`test.py` contents are now `1\n` instead of the expected `1\r\n`

**Environment**

- Black's version:  22.8.0
- OS and Python version:   Windows 10 python 3.10.6

**Additional context**

PR adding support for this h

[2022-09-05 02:40] jnhyperion opened #3256 "Black reformats entire virtual environment when named `env` with pathspec==0.10.0"
**Describe the bug**

When using black and virtualenv, black try to reformat entire virtual env folder, which cause heavy process execution and hang very long.

**To Reproduce**
For example, take this code:

[code]
then black will try to check all the env folder.

this issue is caused by the library `pathspec  0.10.0`, and black does not lock the version, looks like `pathspec` already fix the bug

[2022-09-05 02:43] JelleZijlstra commented on #3256
If you tell Black to format everything in a directory, it will; it can't magically determine that the folder contains a virtual env. We exclude a few common names for virtual envs by default, but `env` is not among them. You can use the `--exclude` or `--extend-exclude` option to exclude directories.

Can you clarify what you think the bug is in `pathspec`?

[2022-09-05 02:45] ichard26 commented on #3256
Black doesn't actually include `env` in its default excludes, I think it's probably a good idea to include it even if it's a less common virtual environment name. Not sure why upgrading pathspec would change black's behaviour, it shouldn't be coming into play here as there's no `.gitignore` file anywhere.

Are there situations where excluding `env` by default would be a problem? @JelleZijlstra

[2022-09-05 02:47] JelleZijlstra commented on #3256
`env` is a perfectly plausible name for a folder containing actual code that you want to be formatted. It would be an unpleasant experience for a user to find out that Black silently skips a directory they want to get formatted.

[2022-09-05 02:47] jnhyperion commented on #3256
in the virtual env folder `env`, it will automatically contains `.gitignore`

[code]

which I think will be recogonized  by black right?

in my case, if I upgrade pathspec to `0.10.1`, this issue will disappear.

[2022-09-05 02:51] ichard26 commented on #3256
https://github.com/cpburnz/python-pathspec/issues/62 ahhh I see, sounds like we should ask upstream to yank this version since it might cause a lot of grief.

[2022-09-05 02:53] ionite34 commented on #3256
The `env` directory not ignored issue seems to only occur with `pathspec` version `0.10.0`, and not in `0.9.0` nor the newest `0.10.1` version. Probably related to https://github.com/cpburnz/python-pathspec/issues/62

[2022-09-05 03:11] ichard26 commented on #3256
[I've asked upstream to yank pathspec 0.10.0](https://github.com/cpburnz/python-pathspec/issues/62#issuecomment-1236501291), let's see if they're open to it, otherwise, I'd be open to banning the faulty version on Black's end.

[2022-09-05 18:11] ichard26 commented on #3256
And pathspec 0.10.0 has been yanked: https://pypi.org/project/pathspec/0.10.0/

[2022-09-05 18:11] #3256 closed

[2022-09-05 20:27] #3176 closed

[2022-09-06 19:41] gegnew commented on #1001
Anyone do anything with this?

[2022-09-06 22:12] yilei commented on #2553
I don't have a strong preference between this (explicit str concat) and parens (#3159). There are some cases I think parens have better readability, e.g.

[code]

[code]

Parens make it more clear that it's a two element list.

However, during the implementation of #3159, we realized adding parens (thus another level of indentation) can result in significant changes to the code, which could be off

[2022-09-06 22:27] yilei opened #3260 "Consider keeping the parens of implicitly concatenated strings when it's a argument of a function call"
**Describe the style change**

Original code:

[code]

**Examples in the current _Black_ preview style**

black --preview removes the parens since they are "not necessary":

[code]

**Desired style**

Keep the parens:

[code]

**Additional context**

Parens in this case can increase readability, Black can choose to NOT universally add parens for them (see https://github.com/psf/black/pull/3162#iss

[2022-09-06 22:52] yilei opened #3261 "Black --preview crashes with nested long dict str keys"
**Describe the bug**

`black --preview` crashed on some code.

**To Reproduce**

For example, take this code:

[code]

And run it with these arguments:

[code]

The resulting error is:

[code]

**Expected behavior**

Should not crash.

**Environment**

- Black's version: `22.8.1.dev4+g383b228`
- OS and Python version: macOS, Python 3.9.12

**Additional context**

Looks like this was caused by #316

[2022-09-07 00:55] chasefinch commented on #2553
@yilei I prefer keeping the parens rather than implementing #3260 — they are explicit, if not always pretty — but if dropping the parens for function calls is the way to get explicit concatenation everywhere else, then ok 😛

[2022-09-07 19:45] LouisJustinTALLOT opened #3263 "Crash on backlash followed by whitespace in a docstring"
**Describe the bug**

Black crashes when a backslash escape is present in a docstring (which is valid python code).

**To Reproduce**

For example, take this code:

[code]

The resulting error is ([link to the playground](https://black.vercel.app/?version=main&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4ACxAG9dAD2IimZxl1N_WlbvK5V9KEd0suDTtUY1JbKheqbD5HUCxlI_f8bsDXCywlVQ_H65OyZ7Ce9tKVH1znIWBBtfJy6aHUzO_

[2022-09-08 09:25] zsol commented on #3263
To be clear, the docstring line has to end with `\ ` (a backslash followed by a space) for this bug to trigger

[2022-09-08 19:51] lofidevops opened #3264 "How do I match GitHub action with stability policy?"
**Is this related to a problem? Please describe.**

The pages on [stability policy](https://black.readthedocs.io/en/stable/the_black_code_style/index.html#stability-policy) and [GitHub Actions](https://black.readthedocs.io/en/stable/integrations/github_actions.html) are very clear. However, I don't think it's possible to enforce stability with GitHub actions.

**Describe the solution you'd like**

[2022-09-08 20:06] jack1142 commented on #3264
You can just set version argument in the action to `<23`. The stability policy only applies to the code style so what matters is Black version, not the action version.

[2022-09-08 20:15] lofidevops commented on #3264
@jack1142 Ok, so this example adapted from the docs would work. Thanks!

[code]

[2022-09-08 20:21] ichard26 commented on #3264
I don't believe that will work right now since if [the version option is provided `==` is simply prefixed](https://github.com/psf/black/blob/main/action/main.py#L19), breaking version ranges. I'd be happy to change the action to be smarter (defaulting to `==` but instead adds nothing if there's a version specifier type marker).

[2022-09-08 20:23] cooperlees commented on #3264
Can we add anything to our docs to make the clearer? If so PR will be accepted.

[2022-09-08 20:26] jack1142 commented on #3264
I assumed that it works based on the documentation in action.yml which says it uses PEP 440 version *specifier*, my bad for not checking the code :-)

[2022-09-08 20:31] ichard26 commented on #3264
Ugh that's unfortunate. Can't really break the pre-existing usages of the action though, the default has to be included.

[2022-09-09 12:23] hrldcpr commented on #2135
Well said! This has been my main frustration with Black ever since I started using it—once a list has become long enough for Black to make it multi-line, it will never return to one line even if you make the list shorter?!

I thought it was just a bug until I finally found the ominous term "magic trailing comma". I expect I'm not alone! (And I still think of it as a bug, honestly…)

In the meantim

[2022-09-09 13:32] joybh98 commented on #2492
Is this something that is still needed, if it is i would like to take it

[2022-09-09 19:14] cooperlees commented on #2492
I only see https://black.readthedocs.io/en/stable/contributing/release_process.html?highlight=pyinstaller#publish-executables

Searching shows that too: https://black.readthedocs.io/en/stable/search.html?q=pyinstaller&check_keywords=yes&area=default

I guess @JelleZijlstra would like something about it as an available way to download black.

Maybe making a dedicated page for "Ways to install black

[2022-09-09 20:59] KennedyRichard opened #3267 "File failed to reformat"
**Describe the bug**

File failed to format. Both the file and diff are attached to this message.

Error present in both newest version of black (used `pip install --upgrade black` to make sure) and [online formatter]  (https://black.vercel.app/?version=main).

**Environment**

Operating system: Linux (xubuntu 22.04 64bits)
Python version: 3.10.4
black.`__version__` == '22.8.0'

**The resulting er

[2022-09-10 13:59] KennedyRichard commented on #3267
Just another bit of information that might be useful:

The `main.py` file in question is a battle-hardened file which has been part of a [public repository](https://github.com/IndiePython/nodezator) and in use for many years, even before being uploaded to github a couple of months ago, so there's probably no problem with the file itself. At least none that I can identify myself.

Here's an additio

[2022-09-11 13:37] felix-hilden commented on #3267
The issue is resolved ([playground](https://black.vercel.app/?version=main&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4FHXF_9dAD2IimZxl1N_Wk8FsCt4z31aJ7Qq3Z7vK0W_0PbsenYir8AaSgUwEagCpGIPcr1AG6DclyxruyElIytl3DAY6wvUzkn6PrlsA56GyZPSb9v-4gTm3huQ2Z2lxbVihZsN1gfaDiDfIfyeNebAjOE1G_oiXgdPMVQBUbyVVn8d1tbezGc5lD4IgQY1nF0SpXIAdcstUEF8qId5v3MvnaIKFY5FNaroPGAf7De0HuhAGmGW1trdyllSguJAGV2zbYl9uYKxzxjVM3BVVnoGbdZ9YuT

[2022-09-11 13:37] #3267 closed

[2022-09-11 13:48] KennedyRichard commented on #3267
After removing the character I'm able to black-format the file. I've subscribed to the original issue so I can be updated of the progress on the issue.  Again, thank you for your selfless work.

[2022-09-11 13:51] felix-hilden commented on #3079
This is a duplicate of #3263, or technically the other way around but the linked issue has ever so slightly more complete information, so I'll close this issue.

[2022-09-11 13:51] #3079 closed

[2022-09-11 13:54] felix-hilden commented on #3253
Feel free to reopen if there's anything related to Black, but I'll close this for housekeeping since it seems unlikely.

[2022-09-11 13:54] #3253 closed

[2022-09-11 14:32] felix-hilden commented on #2553
It would feel a bit off to use parens in other places and explicit concatenation in others in my opinion.

[2022-09-11 14:33] felix-hilden commented on #3260
I'd be open to keeping them, or even going all the way. But I understand that diffs getting larger is awkward.

[2022-09-11 14:50] felix-hilden commented on #3187
Thanks for the suggestion! It seems indeed to be a duplicate of the specified issue, and based on your desired formatting also #2156. So I'll close this one 👍

[2022-09-11 14:50] #3187 closed

[2022-09-12 06:57] jlubcke opened #3268 "Trailing comma gives newline on wrong expressions"
**Describe the bug**

Black in some cases put the wrong parts on separate lines when having a trailing comma.

For example this:

[code]

Expected result was something like:

[code]

**To Reproduce**

Minimal example:
[code]

Expected:
[code]

Actual result:
[code]

**Environment**

- Black's version: 22.8.0 (and main)
- OS and Python version: Mac

[2022-09-12 14:19] lb-desupervised opened #3269 "Inconsistent parsing error when using dictionary and f-string"
It seems that a combination of incorrect formatting and the presence of an incomplete f-string produces a parsing error. The interesting issue is that the error is not raised when the formatting is correct.

I think this is best explained by an example.

This raises a parsing error ("cannot use --safe with this file; failed to parse source file."):

[code]

This does not (file would be left unchan

[2022-09-13 17:48] yilei commented on #2553
Agreed that we should try to use the same formatting in function calls v.s. list/tuple/set literals.

I don't think there exists a clear call that either explicit-str-concat or use-parens would be better.

Then how about this approach: _Black_ takes existing parens (in unformatted code) into account and decides which format to use?

1. If existing code doesn't have parens, use explicit str concate

[2022-09-13 18:58] felix-hilden commented on #2553
I see your point, but we do really want to minimise the effect of the code itself to our formatting choices for consistency. If there isn't a clear winner but we want to format consistently, then I guess the decision has to be more or less arbitrary. Much like string prefixes or other minor details.

[2022-09-13 19:32] yilei commented on #2553
Hmm, focusing on _existing parens_ here, this actually fits _Black_'s paren management [here](https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#parentheses):

These parens are inner parens that _you might want to have for clarity or further code organization_. Following this rule, the existing parens in these cases should not be removed, i.e. we should implement #3260.

[2022-09-13 20:40] felix-hilden commented on #2553
Alright, turns out that in terms of a cohesive parens policy, we're not really there 😅 I'm not sure how each case was decided, but we definitely don't preserve all "organising" parens.

[playground link](https://black.vercel.app/?version=main&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4AFvAL5dAD2IimZxl1N_WhRFCvdeWQ8ClIglckAmUTG2PT0GQ7J0nCMh6ZwVT-OXS-ro3LDGPzrwtUz8ULmKbHxalvwaKEO3KRXFYxCGKqZunQqsYxp2B-B

[2022-09-14 00:38] hauntsaninja commented on #3269
I can't repro, I get errors in both your f-string cases.

For what it's worth, see https://black.readthedocs.io/en/stable/faq.html#why-does-black-not-detect-syntax-errors-in-my-code

[2022-09-14 03:23] #3261 closed

[2022-09-14 07:44] lb-desupervised commented on #3269
Ah okay. Then I think we can assume this is a syntax error which is occasionally caught by black. Odd that it behaves differently on different machines though.. :thinking:

[2022-09-14 10:59] tolomea commented on #147
I'm going to put in a vote for different types of splitting get different indents
or put another way a multiline statement in a list like should have an extra level of indenting
I see the split string version got fixed, but I still hit stuff like this
[code]
which currently gets reformatted to
[code]
I would prefer
[code]
which black (22.8.0 with preview) will persist if it's manually done, but no

[2022-09-14 11:44] tolomea commented on #147
there's a similar issue with inline conditionals where
[code]
gets reformatted as
[code]

[2022-09-14 12:12] ruslaniv opened #3271 "PyCharm File Watcher documentation missing"
Black documentation used to contain a section on how to use Black with PyCharm via a file watcher utility.

Now there is no mention of this option of using Black, only though a **third party** plugin **AND** some more dependencies.
There might be reasons why I don't want or can not install  other dependencies, for example `aiohttp` or PyCharm extensions that is required for Black[d]

**Describe th

[2022-09-15 02:05] ichard26 commented on #3271
Seems reasonable to bring this back. We can revert the part of https://github.com/psf/black/commit/05b63c4bccbfb292a92d3ec962ce9b8fa4ebcfd5 that removes the old integration steps and include some advice on when to use which option.

Would you be able and happy to submit a PR?

[2022-09-15 02:20] ichard26 commented on #3269
I can reproduce FYI.

OK, so what's going on here is that Black doesn't check for AST equivalence when no changes are made. The AST equivalence check is a safety feature that verifies we didn't just change the code's functionality, so if no changes were made, there's not really any point to running it (and we don't run it).

Black's parser, `blib2to3` is pretty lax and often doesn't catch syntax e

[2022-09-15 02:20] #3269 closed

[2022-09-15 09:05] lb-desupervised commented on #3269
Great explanation @ichard26. Thanks :slightly_smiling_face:

[2022-09-16 00:13] raisa314 commented on #3111
Try restarting the kernel! It worked for me both in Colab and Kaggle

[2022-09-16 17:12] smurfix opened #3273 "Skip trailing comma by default"
**Bug description**

Changing line lengths is not reversible because Black adds a trailing comma to some argument lists.

**To Reproduce**

[code]

Reformatting with `--line-len=20` results in

[code]

Unfortunately, due to the trailing comma after the `20` that wasn't there before, re-`black`-ing with `--line-length=80` doesn't undo this transformation.

I have to manually remove the comma to get

[2022-09-16 17:17] jack1142 commented on #3273
This handling of trailing commas is intentional and this behavior is called "magic trailing comma", you can read about it here:
https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#the-magic-trailing-comma

[2022-09-16 19:14] smurfix commented on #3273
Yes I know that Black doesn't reformat lines when there's a trailing comma. That doesn't mean that it's a good idea to add a comma when there wasn't one, esp. without an option to disable that behavior.

[2022-09-16 20:00] TomFryers commented on #3273
I think this is a duplicate of #1742. The `--skip-magic-trailing-comma` flag is the best solution right now.

[2022-09-18 07:52] aus-hawk commented on #3151
[vim-python-pep8-indent](https://github.com/Vimjas/vim-python-pep8-indent) is a single file plugin that gets the job done. Should it be recommended to Vim users in the docs or should it just be added to the Black plugin itself?

[2022-09-20 18:24] YolCruz commented on #2135
#1742 seems to be solved. What other issues do the trailing commas have?

[2022-09-20 18:31] jaklan commented on #2135
@YolCruz for example the issue which is described in the post to which you have just replied.

[2022-09-20 18:35] YolCruz commented on #2135
@jaklan  you're just complaining that the setting is on by default but you're not really giving a concise example of an issue that they have

[2022-09-20 18:36] hrldcpr commented on #2135
@YolCruz as far as I can tell, #1742 wasn't "solved", it was just closed as intended behavior. (And in my opinion the intended behavior is incorrect.)

[2022-09-20 18:39] jaklan commented on #2135
@YolCruz issue #1742 which is linked the above post is describing the problem in details. Have you actually verified why was it "closed" or just looked at the issue label?

[2022-09-21 00:58] yilei commented on #2553
@felix-hilden hmm, I think we draw a different line between "organising" and "non-organising" parens.

The purpose of them is to (significantly) increase readability, so maybe we should really call them readability-parens.

1. For the examples from the "current" blacks style:

[code]

    It's not difficult to agree that they are readability-parens as you don't need to memorize the operator priori

[2022-09-22 01:09] yilei commented on #2567
I'll take a look at this and try sending a PR.

[2022-09-22 08:09] carmenbianca opened #3279 "A dictionary with a key-value combination that exceeds the line length is not wrapped"
**Describe the bug**

The line length is not respected when a key-value combination in a dictionary is very long.

**To Reproduce**

Take this code:

[code]

Run black against it, and the file remains unchanged.

**Expected behavior**

[code]

**Environment**

- Black's version:  22.1.0
- OS and Python version:  Fedora 36, Python 3.10.6

**Additional context**

Black _does_ correctly wrap the foll

[2022-09-22 15:47] aaossa opened #3280 "Support formatting Jupyter Notebooks in GitHub Actions"
**Is your feature request related to a problem? Please describe.**

I'm trying to setup a GitHub Action that runs Black on a project that includes *.py and *.ipynb files, but the default action does not include the Jupyter extra. I followed the integration described in [this piece of documentation](https://black.readthedocs.io/en/stable/integrations/github_actions.html) but the option to include t

[2022-09-23 01:18] JelleZijlstra commented on #3280
This seems quite reasonable to me, feel free to submit a PR.

[2022-09-23 01:21] JelleZijlstra commented on #3279
Duplicate of #413

[2022-09-23 01:21] #3279 closed

[2022-09-23 02:32] weaming commented on #4
any update?

[2022-09-23 14:18] b-x opened #3283 "Not respected # fmt: off block with comment right before # fmt: on"
Black translates this code:

[code]
into this:
[code]
but shouldn't change anything at all.

**Environment**

- Black's version: 22.8.0
- OS and Python version: [Linux/Python 3.8]

[2022-09-23 14:35] aaossa commented on #3280
Ok, PR is completed and ready for review at https://github.com/psf/black/pull/3282 @JelleZijlstra

[2022-09-23 14:58] aaossa commented on #3264
I think this issue can be closed since the PR was merged recently

[2022-09-23 16:32] #3264 closed

[2022-09-23 18:31] yilei commented on #3283
This is a dup of #2349

[2022-09-23 23:56] #3283 closed

[2022-09-24 03:37] #2567 closed

[2022-09-24 03:37] #2232 closed

[2022-09-24 03:37] #2882 closed

[2022-09-24 03:37] #2985 closed

[2022-09-24 03:37] #3184 closed

[2022-09-24 03:37] #1817 closed

[2022-09-24 03:37] #2140 closed

[2022-09-24 03:37] #569 closed

[2022-09-25 07:56] HamishPoole commented on #2925
Hey all, is this issue still available to take up?

[2022-09-26 00:55] #3250 closed

[2022-09-26 21:45] #3280 closed

[2022-09-27 01:41] mkarrmann commented on #511
I understand hesitancy to introduce partial formatting to prevent inconsistent style within files. However, many text editors simply assume partial formatting is a feature of the formatter, so this stance significantly decreases the usability.

My specific use case is a desire is to use Vim to [format my code](https://vim.fandom.com/wiki/Format_a_code_block). In many situation, simply calling usin

[2022-09-27 05:56] yilei commented on #2268
Hmm, this isn't necessarily the opposite of #2553.

There are a few options that they can co-exist:
1. We could restrict this to cases where it's within the line length.
2. Or, when processing strings, we merge explicitly or implicitly concatenated strings first, then when performing the split (because it exceeds line length), we use explicit str concatenation.

Either case, the initial example co

[2022-09-27 07:45] zsol commented on #511
The [docs](https://black.readthedocs.io/en/stable/integrations/editors.html#official-plugin) mention a way to use Black from vim without relying on selecting lines. That should get your workflow unblocked immediately

[2022-09-27 13:19] szandara opened #3291 ".gitignore is ignored by black if more than one source location is specified"
**Describe the bug**

When adding more than one source entry, black ignores the .gitignore entries.

**To Reproduce**

content of .gitignore

[code]

Running

[code]
produces

[code]

Running
[code]

produces

[code]

**Expected behavior**

[code]

**Environment**

- Black's version: 22.8.0
- OS and Python version: MacOS m1

**Additional context**

works with Black version: 22.6.0

[2022-09-27 14:18] mkarrmann commented on #511
@zsol I missed that in my searches, and I thought it seemed impossible. Thanks so much!

[2022-09-27 14:51] aaossa commented on #3214
Looks like a good place for this would be the `format_file_contents` method (`black/__init__.py`). I'm not sure if the `skip_source_first_line` argument should be part of the `Mode` instance or not, but it seems like that would require a couple less changes here. Of course, there's still the need to add the flag where the Click command is defined.

Notice that in the example provided by OP, Black

[2022-09-27 18:23] yilei opened #3292 "String processing: wrap concatenated strings in parens in all cases"
Exending the dicussions in #3260 and #2553, I'd like to once more try to bring up the topic of how black should format concatenated strings.

After a lot of reading and experimenting, I'm now in favor of always wrapping concatenated strings in parens, i.e. extending the cases from #3159 to all. Examples:

[code]

This in turn makes #3260 and #2553 redundant/obsolete.

## Pros

1. Code is more read

[2022-09-27 18:29] sean-workman commented on #1482
I realize this issue is closed but I ran into the same problem with black version 22.6.0. I'm sure I'm doing a poor job of putting together my regex, but regardless, black stripped the leading backslashes I was using and broke the pattern.

[code]

I suppose I can use the  `--skip-string-normalization` flag, but as mentioned above it seems like default behaviour shouldn't break valid code.

[2022-09-27 18:34] JelleZijlstra commented on #1482
@sean-workman the before and after strings are the same at runtime.

[code]

[2022-09-27 20:12] sean-workman commented on #1482
Weird, I must have fixed something else that was the real culprit without realizing. Yikes, sorry for wasting your time!

[2022-09-28 09:58] felix-hilden commented on #3292
Thank you for writing a fleshed out proposal! It's a Yay from me 👍

[2022-09-28 14:17] wbolster commented on #511
@mkarrmann you may want to try this instead: https://github.com/smbl64/vim-black-macchiato

partial formatting is [a dirty hack](https://github.com/wbolster/black-macchiato) and should be avoided if possible. `black` not supporting it seems a done deal, so you're left with hacks to make it work (and accepting the ‘risks’)

[2022-09-28 17:07] mkarrmann commented on #511
@wbolster Thanks! I overlooked your above comment. That's unfortunate to hear (although of course expected, I wasn't expecting my single comment to change a decision made years ago lol). Glad to know I wasn't the only one frustrated by this limitation.

And that's a neat "dirty hack" :)  Thanks for sharing!

[2022-09-28 18:02] plannigan opened #3294 "Clearer errorr message for "Cannot parse" when targetting multiple version"
**Is your feature request related to a problem? Please describe.**

I was working on a project that is only intended to run on Python 3.10. However, the `black` configuration incorrectly listed multiple target versions because I copied the file from a different project.

When I tried to format a file with a match statement, the error was

I was initially confused as I knew that `black` had added P

[2022-09-28 20:04] Ovsyanka83 opened #3296 "Black formats union arguments with default call value weirdly"
**Examples in the current _Black_ style**
[code]

**Desired style**

[code]

**Additional context**

Here's how black formats the same snippet without the new Union syntax:
[code]

[2022-09-28 21:24] ichard26 commented on #3296
Hey thanks for filing a style issue! I appreciate the feedback, but this is mostly a duplicate of https://github.com/psf/black/issues/2316 so I'll be closing this in favour of that.

[2022-09-28 21:24] #3296 closed

[2022-09-29 22:37] yilei opened #3300 "Black is inconsistent with empty lines before an inner function after code block open, with or without leading comments"
**To Reproduce**

Unformatted code:

[code]

Running `black --preview`:

[code]

**Expected behavior**

Empty line should be consistent added (or removed) between the code block open and inner function:

[code]

Or,

[code]

**Additional context**

I did a bisect and this was caused by https://github.com/psf/black/pull/3035.

Note that if the inner function doesn't have a leading comment, it won't

[2022-09-29 22:40] yilei commented on #3300
#246 is possibly related since that's also caused by a comment before the function def.

[2022-09-29 23:27] ichard26 commented on #3300
I agree this should be fixed.

[2022-09-29 23:54] yilei commented on #3300
Looking at `EmptyLineTracker`, it is indeed the same underlying issue as #246, that the tracker isn't capable of doing this when there are preceding standalone comments. I'll take a stab at a fix.

[2022-09-30 08:29] kthy opened #3301 "Unnecessary linebreak on 3.10-style Union types."
**Describe the style change**

Black 22.8.0 makes typing hints in Python ≥ 3.10 harder to read by line breaking on the pipe (type union) operator without any apparent reason.

**Examples in the current _Black_ style**

I'm writing a FastAPI application:

[code]

**Desired style**

[code]
**Additional context**

If you remove the ` | None` part of the typing hint, a linebreak is not inserted by Bla

[2022-09-30 09:26] CalumY commented on #3301
This seems similar to #3296 which is a duplicate of #2316.

[2022-09-30 09:45] kthy commented on #3301
Thanks, I'd tried to search for existing issues but came up blank. Closing as dupe.

[2022-09-30 09:46] #3301 closed

[2022-10-02 15:20] ichard26 commented on #3249
Well... we didn't cut a release in September. I've pushed back the target release date to sometime in October. My schedule has stabilized and I do have a bit of free time so @JelleZijlstra, if you don't have time, I'm happy to cut this release.

[2022-10-02 21:03] aaossa commented on #2517
Hi, seems like this year the participation is opt-in per project by adding the "hacktoberfest" topic to the repo, in case you want to consider it @ichard26 . More info on participation for maintainers in [the event website](https://hacktoberfest.com/participation/#maintainers).

[2022-10-02 22:23] ichard26 commented on #2517
I don't have the permission needed to edit the repository's topics. That's fine though since we can still accept individual PRs via the `hacktoberfest-accepted` label.

[2022-10-03 00:06] JelleZijlstra commented on #2517
I added the label to the repo.

[2022-10-03 15:01] cazador481 opened #3306 "Black removing extra lines in docstrings. Breaking markdown formatting"
When a docstring is formatted using markdown, an extra space at the end means that the next line is not to be wrapped.  (pydoc3 uses markdown).  Unfortunately, black removes the extra space, which causes markdown renders to not do what they are supposed to.

Example code that gets miss rendered.  Note: I am using a `_` to denote a space at the end of the line.
Original
[code]
After running black:

[2022-10-03 20:54] aneeshusa commented on #256
Quick update: @olivia-hong who works with me on the Backend Language Tooling team at Lyft is going to be picking this work up again!

[2022-10-04 00:44] bugfood opened #3308 "please support use of the system black installation"
**Is your feature request related to a problem? Please describe.**

As a new user of black, I installed the `black` package from my distribution to try it out. After that, I wanted to integrate it into vim. I set up the plugin, but discovered that the plugin requires building a virtualenv within which to install black. Using a virtualenv is undesirable to me for the following reasons:
* I already

[2022-10-04 13:05] aaossa commented on #3214
Hi, any change to get #3299 reviewed? @JelleZijlstra

[2022-10-04 16:25] NChechulin opened #3310 "Do not remove semicolons in Jupyter notebooks"
**Describe the style change**

The main use of semicolons in Jupyter Notebooks is to hide the output of some function calls.
Automatically removing them creates (unnecessary) extra output in the Jupyter Notebook.

**Examples in the current _Black_ style**

[code]
After executing a cell with the code above, 2 things are outputted:
1. `Text(0, 0.5, 'Residual')`
2. The graph itself.

![image](https:/

[2022-10-04 16:57] MarcoGorelli commented on #3310
That's right - just tried this, and if you have a cell with
[code]
then it'll be left unchanged

@NChechulin is this not what you're seeing?

[2022-10-04 17:03] MarcoGorelli commented on #3310
sounds like a bug in vscode, I'd suggest reporting to them

[2022-10-04 20:10] #3255 closed

[2022-10-06 20:58] JelleZijlstra commented on #3292
Thanks for the writeup! I agree there's definite benefits to wrapping these strings in parentheses. My only reservation is that sometimes the parentheses feel redundant and verbose. For example, I don't love the change in https://github.com/psf/black/pull/3307/files#diff-d23a6917d7262ca9815093bffb7148299e516575251959ed9b405b648e76aa29. On the other hand, the change in https://github.com/psf/black/

[2022-10-06 22:17] #3214 closed

[2022-10-06 23:01] ichard26 commented on #3249
It has been cut: https://pypi.org/project/black/22.10.0/.

[2022-10-06 23:01] #3249 closed

[2022-10-06 23:43] lecardozo opened #3312 "Wrong architecture for 22.10.0 macosx wheel"
**Describe the bug**

I've just recently installed the latest version of Black (22.10.0) on a Python 3.10.5 environment, Mac OSX Monterey 12.5 and got the following error when trying to run
[code]
After investigating the compiled file, it does seem that it was built for the wrong architecture (arm64 instead of x86_64)

[code]
**To Reproduce**

For example, take this code:

[code]
The resulting err

[2022-10-06 23:47] ichard26 commented on #3312
Ugh, this is a known issue. I messed up and this release only shipped with compiled wheels for macOS x86-64 due to a build configuration issue I presume. Looking at your bug report carefully, the wheels actually built fine themselves, but their platform tags are incorrect.

@JelleZijlstra has deleted the macOS wheels to avoid breakage while we figure this out.

[2022-10-06 23:49] JelleZijlstra commented on #3312
Yes, we ended up uploading amd64 wheels labeled as x86_64. I confirmed that after deleting the wheels from PyPI, installing Black 22.10.0 on MacOS x86_64 works fine; it just uses the pre Python wheel.

[2022-10-07 10:56] JosEnerv commented on #2750
extend-exclude does not do what I want it to do somehow :
extend-exluded : `src\/models`

Verbose output :

`src/models/something.py` ignored: matches the --extend-exclude regular expression
would reformat `src/models/something.py`

I don't get it.

[2022-10-07 11:43] kloczek opened #3314 "22.10.0: sphinx warnings `reference target not found`"
First of all currently it is not possible to use straight `sphinx-build` command to build documentation out of source tree
<details>

[code]
</details>

This can be fixed by patch like below:
[code]

This patch fixes what is in the comment and that can of fix is suggested in sphinx example copy.py https://www.sphinx-doc.org/en/master/usage/configuration.html#example-of-configuration-file

Than ..

[2022-10-07 11:45] kloczek commented on #3314
I forgot abot yet anither patch.
Despite moving from `setuptools` to `hatchling` sphinx build still uses `pkg_resources` which part of the `seruptools`
This can be fixed with below patch
[code]

[2022-10-07 15:52] aaossa opened #3315 "Incorrectly ignored files when `subfolder/.gitignore` contains */*"
**Describe the bug**

When a subfolder contains a .gitignore file with the special rule `*/*` (ignore subdirs contents) Black incorrectly ignores any file at the same level of the .gitignore.

**To Reproduce**

A minimal git repository:
[code]

Any change in the contents of main.py will be "seen" by Git but not Black, resulting in `"No Python files are present to be formatted. Nothing to do 😴"` in

[2022-10-07 16:57] lofidevops opened #3316 "Using version specifier in GitHub Action fails"
**Describe the bug**

Using version specifier in GitHub Action fails. I believe this is because the stable branch has not been updated.

**To Reproduce**

Add the following GitHub Action to your repo:

[code]

The resulting error is:

[code]

See https://github.com/canonical-ols/acceptable/actions/runs/3206267998/jobs/5239812322 for an example. (I'm not sure if the logs are visible to everyone?)

[2022-10-07 17:15] crypticraven opened #3317 "Documentation around skipping trailing comma check"
I'm looking for a way to remove the trailing comma check. When creating lists and dictionaries, the trailing comma as a style choice should be optional NOT required.

I've been leveraging the TOML configuration file as part of the Super-Linter project and Black doesn't seem to honor any of the configuration I am trying to enforce.

**Describe the solution you'd like**

I'd like a descriptive docum

[2022-10-07 17:22] JelleZijlstra commented on #3316
I just updated the stable branch. I thought that was supposed to be automated, so leaving this open to figure out why the automation isn't working.

[2022-10-07 17:58] felix-hilden commented on #3317
Hi 👋  `skip-magic-trailing-comma` is an option for collapsing collections if they become small enough to fit one line. There is no option to skip adding the final trailing comma to a collection if that's what you're asking!

[2022-10-07 18:07] felix-hilden commented on #3310
Aight, will close now, let's follow the vscode issue! Thanks for running this by us anyways 👍

[2022-10-07 18:07] #3310 closed

[2022-10-07 18:50] felix-hilden commented on #3306
Right, this is definitely [intentional](https://github.com/psf/black/blob/main/src/black/strings.py#L79), tracing all the way back to #1053. I'd say it's desirable in most cases, but not sure about this one.

[2022-10-07 18:57] crypticraven commented on #3317
Is that a feature that could be implemented?

[2022-10-07 18:58] JelleZijlstra commented on #3317
No, that would not be in line with the general design of Black.

[2022-10-07 18:59] #3317 closed

[2022-10-07 19:00] ichard26 commented on #3312
I fixed the wheel metadata for all x86_64 and arm64 wheels manually and have uploaded them to PyPI. I have not fixed the universal2 wheels, if people want/need them, please holler.

[2022-10-07 20:01] felix-hilden commented on #3273
I'd be willing to entertain us flipping the toggle in preview and eventually altogether in v23. But this is just me personally 😅 Not collapsing small collections is more irritating to me than slightly larger diffs, although the config option is an easy fix. This would get us a step closer to our whole "not taking previous formatting into account" philosophy. Thoughts by other maintainers?

[2022-10-07 20:03] felix-hilden commented on #3294
Thanks for submitting the issue! I'm all for a better error message 👍

[2022-10-07 20:46] aaossa commented on #3291
The bug seems to be caused by this section of `get_sources`:

https://github.com/psf/black/blob/b60b85b234d6a575f636d0a125478115f993c90c/src/black/__init__.py#L660-L670

In the first run (the first `SRC`) `exclude` is `None`, but then the value gets overridden by `re_compile_maybe_verbose(DEFAULT_EXCLUDES)`, so in the second iteration the condition is not met and skips to `gitignore = None`.

This

[2022-10-07 20:50] TomFryers commented on #3273
I think its new title makes it a duplicate of #2135 instead! That one's accumulated a few thumbs-ups, so it seems there is at least some support for this amongst users (including me). (Not that that means particularly much; it's a rather biased sample.)

[2022-10-07 20:53] felix-hilden commented on #3273
Oh good find, I'll close this and post my message there as well 👍

[2022-10-07 20:53] #3273 closed

[2022-10-07 20:54] felix-hilden commented on #2135
I'd be willing to entertain us flipping the toggle in preview and eventually altogether in v23. But this is just me personally 😅 Not collapsing small collections is more irritating to me than slightly larger diffs, although the config option is an easy fix. This would get us a step closer to our whole "not taking previous formatting into account" philosophy. Thoughts by other maintainers?

[2022-10-07 23:51] nullromo opened #3318 "Vim plugin formatter fails with error"
**Describe the bug**

When I try to use vim to run Black, I get the following message:

[code]

This happens when calling `:Black` from a python buffer and then the code does not format.

**To Reproduce**

Use this `.vimrc`:

[code]

and open vim with `vim -u <path to small .vimrc>`. Then run `:PlugInstall` to install the plugin. Then open a python file and run `:Black`.

**Expected behavior**

Th

[2022-10-08 06:04] felix-hilden commented on #3300
Having a look at #3035, I'd expect the newline to be removed before the first function regardless of the comment. Would you prefer otherwise?

[2022-10-08 14:07] NNRepos commented on #3294
hey @felix-hilden, i would like to work on this, and add the grammar version to the error message.
i believe the error occurs in `src/black/parsing.py:103`:
[code]

could you assign me?
thanks 😄

[2022-10-08 16:23] AIGeneratedUsername commented on #3018
I've come here searching for the opposite problem. Black keeps splitting my type annotations (e.g. `value: list[FooBar]`) into multiple lines. It is a very bad practice because functions with multi-line type annotations are unreadable. I hope that Black will stop touching type annotations.

[2022-10-08 23:56] ichard26 commented on #3018
@AIGeneratedUsername are you talking about our subpar formatting of the new union syntax (see https://github.com/psf/black/issues/2316) or the formatting of type annotations in general? I don't think it's tenable to just leave type annotations alone.

[2022-10-09 01:37] Zac-HD opened #3319 "Avoid needless linebreaks on `|` in PEP-604 type annotations"
**Describe the style change**

Given the increasing popularity of Python 3.10 and [PEP604](https://peps.python.org/pep-0604/) type annotations (`arg: X | Y`), it's unfortunate that Black is so eager to put linebreaks in the middle.  This happens when it's not necessary to meet line-length limits; and also when splitting doesn't achieve line-length limits!

I propose that the `|` operator be treate

[2022-10-09 01:53] ichard26 commented on #3319
Yup, see https://github.com/psf/black/issues/2316.

[2022-10-09 02:39] Zac-HD commented on #3319
🤦‍♂️  should've searched for "PEP 604", right.  Closing as duplicate.

[2022-10-09 02:39] #3319 closed

[2022-10-09 11:19] bolshoytoster commented on #3318
@nullromo I believe this is caused by a version mismatch; your system (pip) version is behind your vim plugin version.

You could try uninstalling via pip and running `pip install git+https://github.com/psf/black` to install a slightly more up to date version.

---

We should probably make [`Mode`](https://github.com/psf/black/blob/b60b85b234d6a575f636d0a125478115f993c90c/src/black/mode.py#L167) i

[2022-10-09 12:24] felix-hilden commented on #3318
Dataclasses does not support that beyond optional arguments, but [there are workarounds 🤮](https://github.com/felix-hilden/tekore/blob/master/tekore/_model/serialise.py#L193). Let's not do that.

Let us know if upgrading solved the issue! I'm also open to catching the type error (?) in the appropriate place and issuing a warning. But it won't help previous releases.

[2022-10-09 12:25] rk012raj commented on #3318
I know

On Sun, 9 Oct, 2022, 5:55 pm Felix Hildén, ***@***.***> wrote:

[2022-10-09 18:16] AIGeneratedUsername commented on #3018
Thank you for pointing to a related issue. My complain while not fully, but mostly described by https://github.com/psf/black/issues/2316#issuecomment-1007878234

[2022-10-09 20:41] betafcc commented on #2551
up for  2022-10-09 on black 22.10.0:

[code]

Result:

[code]

The parens workaround in https://github.com/psf/black/issues/1898 does work:

[code]

[2022-10-09 21:08] ichard26 commented on #2551
@isidentical would you be interested in taking a look at this issue?

[2022-10-10 02:32] isidentical commented on #2551
Yep, will look into it! Thanks for CC'ing me.

[2022-10-10 05:18] onerandomusername opened #3320 "style regression: too long single line docstrings have their quotes moved to a new line."
**Describe the bug**

Single-line docstrings that are longer than the line length have the final three `"` moved to a new line.

**To Reproduce**

For example, take this code:
[code]

And run it with these arguments:

[code]

We get this format:

[code]

**Expected behavior**

Single line docstrings are left alone. I understand what this change is supposed to do, and on already multiline docstring

[2022-10-10 13:08] NNRepos opened #3321 "unreachable code in `parsing.py`"
**Describe the bug**

unreachable code in `src\black\parsing.py:170`:
`raise AssertionError("INTERNAL ERROR: Tried parsing unsupported Python version!")`

**Expected behavior**

not having unreachable code 😝

[2022-10-10 13:30] JelleZijlstra commented on #3321
You're right, we can remove this line.

[2022-10-10 14:57] NNRepos commented on #3321
great!
if you would like me to create a PR, please assign me to this issue 😄

[2022-10-10 15:47] mstapfner commented on #3086
I can confirm the same behaviour for strings inside tuples:

`(
    True,
    False,
    (
        "asdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjkl",
        "asdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjklasdfghjkl

[2022-10-10 16:05] nullromo commented on #3318
I ran both `pip install git+https://github.com/psf/black` from the command line and `:PlugUpdate` from vim, and the error is still present.

[2022-10-10 17:26] yilei commented on #3300
I would actually personally prefer the newline to be removed after a block open.

I saw this is inconsistent with or without the comment, plus the [current _Black_ style](https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#empty-lines) says:

This is the "inner function" case.

So I'm slightly in favor of changing the preview style to always remove the newline before an

[2022-10-10 18:14] yilei opened #3324 "Consider not wrapping a single import when the line is too long"
**Describe the style change**

When an import line is too long, and it only has a single imported symbol, it's more readable to NOT wrap the line.

**Examples in the current _Black_ style**

[code]

**Desired style**

[code]

**Additional context**

The current behavior works very well in the majority cases. If the import line has more than one imports, it should continue wrapping them:

[code]

B

[2022-10-10 19:22] nullromo commented on #3318
# tl;dr it's working. thanks! 🎉

This was the output from `:BlackUpgrade`:

[code]

Yes, the formatting looks like that. Here it is in a readable form:

[code]

And here's the output from `:BlackVersion`:

[code]

so yes, it looks like the vim plugin version does not line up with the vim plugin's Black version, which does not line up with the system's Black version.

I went into `~/.vim/` and manu

[2022-10-10 19:22] #3318 closed

[2022-10-10 19:24] nullromo commented on #3318
However, maybe it's worth mentioning that the message

[code]

probably shouldn't print out when `:BlackUpgrade` fails.

[2022-10-10 23:08] isidentical commented on #2551
@betafcc, the example you have shared already fails with the standard Python parser since the named expression has to be wrapped with parens in that case. But the bug still persists for generator expressions passed as call arguments (`any(x := y for _ in _)`), so hopefully #3327 should fix it.

[2022-10-10 23:54] #2551 closed

[2022-10-11 01:01] ichard26 commented on #3318
Feel free to open a new issue or rename & update the description of this issue (and reopen it).

[2022-10-11 14:16] fearedbliss commented on #830
Adding my support in favor of this. Even though I personally like running black on the whole file, sometimes in work environments it's necessary to reduce the amount of changes made, especially if the team hasn't fully transitioned to blackening their code base. In the intermediate transition period, black can still be beneficial by allowing people to continue producing new code in those code base

[2022-10-11 17:02] smurfix commented on #2135
There's two separate issues here IMHO.

1. honor the trailing comma as a way to signal Black not to re-wrap a list as a single line.
2. don't add a trailing comma if there was no such thing before reformatting.

(1) is what the skip-magic-trailing-comma option disables. I agree that this should be a flag.

However, I don't think there's a good reason for (2) to exist in the first place. Reasons:

[2022-10-11 18:15] jaklan commented on #2135
Imho the easiest solution is to distinguish two scenarios:

1. No trailing comma added by developer

[code]
    becomes:
[code]
    and when you remove some words to fit into max line length:
[code]
    it again becomes:
[code]

2. Trailing comma added by developer

[code]
    always becomes:
[code]
    no matter how long the list is and it's never wrapped into one line if you don't remove the tra

[2022-10-11 18:55] frob commented on #822
I see there is a release now. Still cannot install with pipenv unless I set the version like in the above comments.

[2022-10-11 18:56] JelleZijlstra commented on #822
We have a stable release now, which appears to solve the original problem in this issue. If you're still having problems using Black with pipenv, please open a new issue explaining exactly what is going wrong.

[2022-10-11 18:56] #822 closed

[2022-10-11 19:25] AlmogCohen commented on #822
At last! Thank you 🙏😊  Absolutely useful project for the entire community!

[2022-10-11 20:14] yilei commented on #749
This also happens to the right side:

[code]

is formatted to:

[code]

even though it fits well within the line length.

[2022-10-11 20:59] aaossa commented on #3315
Seems like the problem is related to how `pathspec` is currently used. Files in subdir/ are ignored by subdir/.gitignore, which is not the expected behavior. `pathspec` correctly determines and applies the pattern `*/*`, but the .gitignore is incorrectly applied because it does not consider the reference path (where is the .gitignore located). There's currently no way to tell where does the rule c

[2022-10-11 21:34] #3321 closed

[2022-10-11 21:51] yilei commented on #1811
I read that there is overall agreement that for the specific single-argument case (i.e. the original example), we prefer it to not explode:

[code]

There are still discussions about what to do for multiple arguments, and multiple outer function calls.

Can we first change the single-argument case? This alone affects a significant portion of our monorepo and would be a huge improvement. Happy to s

[2022-10-12 07:14] AlmogCohen commented on #822
Oops, didn't notice...Too much Typescript lately 😉

[2022-10-12 07:44] josephernest opened #3329 "Don't break a line if it's too long because of comments"
A long line is split into multiple lines if it exceeds the `black_line_length` setting.
**How to not take the comments into consideration to compute the line length?**

Example:

[code]

Is there already a setting for this?

Currently the second example gives:

[code]

and I'd prefer to not break the line at all.

[2022-10-12 12:16] luisdavim commented on #1587
According to https://github.com/psf/black/issues/667 `blackd` doesn't even read the `project.toml` file...

[2022-10-12 12:37] josephernest commented on #3329
Thanks @ichard26 for the tagging. Do you think there is already a setting for this?

[2022-10-12 13:07] e-gebes commented on #3329
I want to mention the special case of pragma comments that exceed the line length limit.
For pragmas of any kind `# fmt: off`, `# pylint: disable=...`, and so on, it might make sense to ignore those for computing the line length. Usually, they don't need to be read by humans anyway - it should be enough to see "ah that's the start of a pragma, I don't need to read further".

Moving pragmas to diff

[2022-10-12 13:08] ichard26 commented on #3329
There is not and I don't think we'll add one either since we try to avoid adding formatting configuration options. We can consider changing the logic in the presence of comments though.

[2022-10-12 14:26] itxasos23 commented on #3320
Hey! I'd like to contribute to fixing this test as part of Hacktoberfest.
Hope that's ok!

[2022-10-13 10:10] marxin commented on #1437
Moved now to:
https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#slices

[2022-10-13 11:29] e-gebes opened #3330 "Behavior of `# fmt: skip` in the presence of other comments/pragmas"
I have this code:

[code]

black formats it to:

[code]

This breaks the Pylint pragma, it does not work anymore on the line where black has put it. So, I played around with the pylint and black pragmas to get it working:

[code]

All those 4 options are fine for Pylint. Options 1 and 4 are fine for Black. Black ignores the `# fmt: skip` pragmas in options 2 & 3.
Option 4 is my current workaround,

[2022-10-13 12:47] e-gebes commented on #3330
I have here another example which illustrates that using the off/on pragmas ("option 4" in my original posting) has drawbacks in certain situations:

[code]

An alternative here could be to refactor further, this could make the use of `# fmt: off/on` obsolete, or at least make it possible to use it around a sole statement, and not around a whole block:

[code]
This shall illustrate that it is usef

[2022-10-13 15:05] krowbar commented on #3308
Doesn't setting
`g:black_virtualenv = "/usr/local/"`
somewhere in vim startup files (or specifically for python files) do that?
The path may vary depending on your distribution, it will search for the site-packages below that point (see _get_virtualenv_site_packages function)

[2022-10-13 16:45] yilei commented on #3330
Related: https://github.com/psf/black/issues/2843#issuecomment-1232146924 where I proposed a few options related to how _Black_ can statistically improve pragma comments related line wrappings.

[2022-10-13 16:45] e-gebes commented on #3330
I have another interesting example. It is about and odd behavior between black, isort, and pylint.

There is this code, which is fine for isort and also Pylint. The Pylint pragma works, and isort does not reformat the statement - which apparently means that it does not take the Plyint pragma for line length into account:

[code]

But for black the line is too long, and it formats it into:

[code]

[2022-10-14 06:02] Anupam-USP commented on #3324
Hey, I understood the issue, but don't know how to proceed on this right now. Can you please help me to initialize this??

[2022-10-14 13:04] alongouldman commented on #664
is this still open? can I implement what @ambv suggested?

[2022-10-14 15:11] yilei commented on #3324
@Anupam-USP This is a style change proposal, so the first step is to have buy-in from Black maintainers that this is a good change.

[2022-10-14 22:55] bugfood commented on #3308
Hmm. I hadn't looked at that before now, but I don't think it's suitable. I'll elaborate below.

That function is:
[code]

...and it's called as (abridged):
[code]

So it looks like `g:black_virtualenv` needs to refer to a directory that has subdirectories `lib/python3.10/site-packages`, at least for my python version.

This doesn't match anything in the Debian package structure.
[code]

I can tri

[2022-10-15 08:22] felix-hilden commented on #3291
@aaossa Would be greatly appreciated!

[2022-10-15 08:44] felix-hilden commented on #3324
Thanks for the suggestion 👍 I'm a bit ambivalent:

Your suggestion is good for the reduced number of extra lines. It is also much better when the imports share module paths. But if the line is really long, it could be beneficial to see the final imported name on its own line so you don't have to horizontal scroll.

To have an adversarial example:

[code]

Just playing the devil's advocate here. Th

[2022-10-15 18:00] Elvis020 commented on #3294
I think this issue should be marked closed, correct me if I am wrong

[2022-10-15 18:38] felix-hilden commented on #2135
@smurfix and @jaklan, it's unlikely that we'll change our stance on trailing commas in general because of the consistency and diff reduction. And making Black consider if there was a trailing comma or not is exactly the dependency to previous formatting we'd want to reduce if we were to disable the magic comma by default.

[2022-10-15 18:46] felix-hilden commented on #3315
Thank you for submitting the issue and for digging around 🙏 A contribution would be greatly appreciated if you're up for it!

[2022-10-15 18:58] felix-hilden commented on #3300
I'm fully in favor of doing it, but it's fine to keep the original behavior if you'd like to 👍 I think the inner function spacing rule is secondary to the "no space in a new block" rule.

[2022-10-15 19:08] felix-hilden commented on #3320
Hi! Looking at the changes again, it seems intended.

@itxasos23 Thanks for offering! However, #2885 deals with docstrings and could clash with this change. So I think we'll at least have to discuss a bit. If you'd be willing to try something else, have a look at the ones in https://github.com/psf/black/labels/good%20first%20issue!

[2022-10-15 19:09] nnrepos commented on #3294
hey, usually an issue is closed when a PR is merge. this is done automatically if the PR contains something like `closes #3294`.

[2022-10-15 19:18] Elvis020 commented on #3294
ok, cool. Looks like it's left for a pending reviewer to take a look

[2022-10-16 04:16] yilei commented on #3300
@felix-hilden Thanks. Mind approve #3302 and get it merged to fix #246? Then I'll send a follow-up PR to for this issue.

[2022-10-16 04:33] yilei commented on #3324
Yeah this is a relatively unlikely scenario if you look at the overall picture. When you import almost all packages on PyPI, you don't end up such long import paths.

But when a codebase is impacted, it can be pretty bad. The long import paths usually come from internal code e.g. in a mono repo. For us, such long import paths are almost everywhere.

One thing do note that since imports are sorted,

[2022-10-16 05:38] aaossa commented on #3315
I managed to craft a fix for this. I'll submit a PR but I'm working on another issue at the moment. Here's a description of my current solution.

The gitignore match happens in `gen_python_files`. Instead of using a single `PathSpect` object as gitignore argument, use a dictionary: the path to the location of the gitignore file is the key, and the value is the `PathSpec` object. Thils will allow u

[2022-10-16 08:52] felix-hilden commented on #3300
Done, we'll wait for another approval since Jelle's is a bit stale. Thanks!

[2022-10-16 17:44] adamjstewart opened #3331 "Docstring reformatting causes line to be too long"
**Describe the bug**

Black is overzealous about reformatting docstrings to a single line, and can cause the resulting line to be longer than the line length limit.

**To Reproduce**

For example, take this code:
[code]
The first line of this docstring is exactly 88 characters. After blackening this code, this results in:
[code]
The line is now 91 characters, and flake8 complains.

**Expected beha

[2022-10-16 17:49] felix-hilden commented on #3331
With the "preview" toggle enabled, this is [fixed](https://black.vercel.app/?version=main&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4ADVAF9dAD2IimZxl1N_WlbvK5V9Hvo0zZlhiNcX2rzeBITicv6kV76qn7XtBxdbDUKlpDsBRgxCmvXDH4y3cSCeHL0G8Ak1dw6rxU3pwHzEUI3v4fV9F1jWCB_Rc_g_r7L3HpzgAACmJaHJbC_t3wABe9YBAAAAQ8S5HLHEZ_sCAAAAAARZWg==). Also worth mentioning that we're discussing the exact opposite behavior in #3320.

[2022-10-16 18:12] adamjstewart commented on #3331
Thanks, glad to know it's already been fixed!

[2022-10-16 18:12] #3331 closed

[2022-10-17 00:37] onerandomusername commented on #3320
The biggest problem is this change for single line docstrings is a violation of [PEP 257](https://peps.python.org/pep-0257/#one-line-docstrings).

[2022-10-17 07:07] pawamoy commented on #1654
This prevents using two trailing spaces (line break) in Markdown docstrings :confused:

[2022-10-17 07:11] pawamoy commented on #1654
Ah, found a more recent issue for this: https://github.com/psf/black/issues/3306

[2022-10-17 07:13] pawamoy commented on #3306
Unfortunately that's the only way to break a line in common Markdown (two trailing spaces), apart from using `<br>` :confused:

Is Black assuming a specific markup for docstrings?

[2022-10-17 09:54] tnhgiang opened #3335 "No matching distribution found for hatchling>=1.8.0"
**Describe the bug**

**To Reproduce**

`pre-commit` configuration:

[code]

And run `pre-commit`:

[code]

The resulting error is:

return code: 1
expected return code: 0
stdout:
    Processing /home/tnhgiang/.cache/pre-commit/repomavgntpv
      Installing build dependencies: started
      Installing build dependencies: finished with status 'error'
stderr:
      ERROR: Command errored out with ex

[2022-10-17 12:29] ichard26 commented on #3335
Black hasn't supported Python 3.6 since 22.10.0. Our build backend, Hatching, never supported 3.6 and that's why `No matching distribution found for hatchling>=1.8.0` is occurring.

I do wonder if we have pre-commit fail in a more user-friendly way though.

[2022-10-17 14:09] tnhgiang commented on #3335
Thanks a lot @ichard26

[2022-10-17 14:09] #3335 closed

[2022-10-17 15:55] krowbar commented on #3308
`g:black_virtualenv = "/usr/local/"`
worked (at least for me) under 22.8.0, but failed like you predicted with 22.10.0 requiring access python site-packages directory.

It's (at least partly) related to the CACHE_DIR (or setting BLACK_CACHE_DIR environment variable).
`...`
`  File "/usr/local/lib/python3.9/site-packages/black/nodes.py", line 25, in <module>`
` pygram.initialize(CACHE_DIR)`
`...`
`

[2022-10-17 17:46] bugfood commented on #3308
Not to contradict you, but to clarify a bit, the failure I'm getting happens earlier than what you are seeing.

For your environment, this line returns a directory that exists:
[code]

For my environment, no such directory exists.

Either way, I think that `g:black_virtualenv` is too fragile to be a usable workaround.

[2022-10-17 19:01] itxasos23 commented on #3320
@felix-hilden Amazing! I see you got that covered on that PR :smile:

[2022-10-17 19:40] onerandomusername commented on #3320
This pr is in agreement with 2885, as the author of 2885 states:

This is in line with pep 257, and should satisfy this issue as well.

[2022-10-17 22:47] trumpet2012 opened #3340 "maximum recursion depth exceeded while calling a Python object"
**Describe the bug**

When running black using pre-commit against a generated Django migration file, the following error is observed:
[code]

**To Reproduce**

Here is a file that can reproduce the above issue: https://gist.github.com/trumpet2012/057e1e6bc381081e06a2eaf9e22db45a

Install pre-commit: https://pre-commit.com/index.html#installation

Our pre-commit config is:
[code]

Then running:

[c

[2022-10-18 09:35] randolf-scholz opened #3341 "Formatting Regions - Allow different formatting for code blocks (Application: data tables)"
**Is your feature request related to a problem? Please describe.**

Sometimes I find myself needing small tables of data for configuration, for example a table containing units and upper and lower bounds for some `pandas.DataFrame`.

An example:

[code]

I am deeply convinced that for this kind of manual data entries in source code, **fixed width format** is vastly superior in terms of readability

[2022-10-18 12:13] felix-hilden commented on #3341
Hi! I get your concern, but having multiple formatting styles goes heavily against our ethos of non-configurability and consistency. So this is unlikely to be accepted.

[2022-10-18 12:53] randolf-scholz commented on #3341
@felix-hilden I would argue that this is the consistent choice. To me, it seems it's rather black that is the odd one out with how it formats tabular data. If non-configurability is the main concern, one could of course think about some auto-detection of tabular data (for example: literal list of lists of equal length) and only apply it in this case.

Non-configurability is a merit of black, but t

[2022-10-18 13:35] randolf-scholz commented on #3341
To some degree, this is issue is caused by the lack of a built-in literal for tabular data in python. Since python nowadays is used so much in the data science space, it seems that having some built-in formatting for tabular data is a good idea.

Looking at possible solutions, we have:

1. Do nothing  / resort to `fmt: off`
2. Some autodetection for tabular data
    - would have to be very good /

[2022-10-18 13:59] #2947 closed

[2022-10-18 17:41] yilei commented on #3292
We are still waiting for other maintainers' opinions? Who should I tag here?

[2022-10-18 18:33] felix-hilden commented on #3341
Thank you for being so thorough 🙏  I think this will explode in complexity if we want to do it well. Just to format your example we would have to:

- Determine that the lists are equal length
- Make sure the types are consistent not just in one list, but handle multiple types across multiple lists (or are we tabulating on mixed types per column?)
- Store the max length of each element

So wrt.
1.

[2022-10-18 23:20] asottile opened #3343 "up for adoption: blacken-docs"
https://github.com/asottile/blacken-docs

I don't really know how to do this so I'll try and be succinct -- sorry this is off topic as well and that I deleted the issue template

for me, **maintaining `blacken-docs` no longer sparks joy** -- and it's not due to the integration with black (which has been fine since stable) -- but because docs are complicated  (and, well, I don't actually use it).

[2022-10-19 07:14] jugmac00 commented on #3343
Hey Anthony,

FWIW there is also https://github.com/keewis/blackdoc which we adopted at work. The mission seems to be the same, possibly also the features. Additionally, back then my colleague mentioned that `blackdoc` handled our legacy doctests very well. The maintainer @keewis is very active and friendly. Maybe there is a chance that these two projects can be "merged" in some way?

And thanks f

[2022-10-21 01:30] viivanofu opened #3345 "Black ignores # fmt: skip if run via pre-commit"
**Describe the bug**

When I run Black as a commit hook via pre-commit it ignores `  # fmt: skip` on a long lines.
I afraid that it may ignore `# fmt: skip` pragmas totally, making Black unusable for me as a pre-commit tool.

**To Reproduce**

have a pre-commit with **.pre-commit-config.yaml**
[code]
install hooks with `$ pre-commit --install`

have a really long line with `  # fmt: skip` in the e

[2022-10-21 02:14] JelleZijlstra commented on #3345
You're probably running the wrong version of Black somewhere.

[2022-10-21 02:42] viivanofu commented on #3345
Can't imagine where to look.

[2022-10-21 06:51] naught101 opened #3346 "Break long lines at dominant semantic features"
Black breaks long lines with multiple sets of parentheses at the first set of parentheses that is before the character limit, as far as I can tell. This is a problem when you have lines like this:

[code]

Because black breaks them like this:

[code]
Which makes the line much harder to read, because the logic of the assertion is broken.

The logical semantic place to break the line is at the `,` b

[2022-10-21 12:00] felix-hilden commented on #3345
Could you try to set ["required-version"](https://black.readthedocs.io/en/stable/usage_and_configuration/the_basics.html#command-line-options) in your pyproject to e.g. 22.10? That would make sure it's not the issue.

[2022-10-21 12:59] adamchainz commented on #3343
I’d be happy to maintain blacken-docs, it sparks joy for me. I love using it on my blog and I promoted it [on my blog](https://adamj.eu/tech/2021/09/13/three-cheers-for-blacken-docs/) and in my book.

[2022-10-21 13:13] bwagner opened #3347 "File-specific line-endings misbehaviour when doing in-place black"
**File-specific line-endings misbehaviour when doing in-place black**

I'm using a **mac** to contribute to a project that has python files with **windows** formatting CRLF. When I apply `black` to these files, `black` seems to break the line-end-formatting of the files. There's a possibly [related issue](https://github.com/psf/black/issues/258) with a [solution](https://github.com/psf/black/pull/

[2022-10-21 14:00] #3347 closed

[2022-10-21 14:47] asottile commented on #3343
alright -- I'll organize a transfer of things next week after I'm back from vacation -- appreciate it a lot @adamchainz

[2022-10-21 14:47] #3343 closed

[2022-10-21 23:41] yilei commented on #445
@felix-hilden could you please also clarify the following case when rhs is a function call?

[code]

Currently black does:

[code]

IMO the following is more readable:

[code]

This is `too long overall but LHS fits line`. It's neat that that `) = ` happens to be 4 characters equal to the indentation.

[2022-10-22 07:21] felix-hilden commented on #445
I would agree!

[2022-10-22 12:10] busterbeam opened #3349 "No, tabs for indentation are the devil. Making this configurable would go against Black's philosophy."
No, tabs for indentation are the devil. Making this configurable would go against Black's philosophy.

_Originally posted by @ambv in https://github.com/psf/black/issues/47#issuecomment-374964663_

I'm brining up again.  I found one **fork** that uses tab's but its getting old.  I'm not going to try to reason why tabs are better (and believe me I have good reasons).  I'm trying to make working **f

[2022-10-22 15:00] henryiii opened #3350 "Type hint wrapping after comment"
**Describe the style change**

For some reason, black weirdly wraps a type hint _only_ if it is after a comment.

**Examples in the current _Black_ style**

[code]

**Desired style**

[code]

**Additional context**

Tested with both regular black and `--preview`, and with target version.

[2022-10-22 17:09] felix-hilden commented on #3349
Sorry, not really. After #2798 we're done with discussing tabs and at least I personally have no interest in debugging forks that actively go against our decisions.

[2022-10-22 17:11] felix-hilden commented on #3350
All for it, wouldn't consider this change controversial in any way as the line length is not exceeded!

[2022-10-22 17:21] ichard26 commented on #3343
Thank you so much @adamchainz for stepping up! While I don't have the time to commit to being a maintainer, I'm happy to help from time to time. Consider this as permission to ping me when needed!

[2022-10-22 17:27] clavedeluna commented on #2499
@lukehodges what are the contents of `run.py`?

[2022-10-22 17:39] adamchainz commented on #3343
Thanks @ichard26 !

[2022-10-22 17:42] busterbeam commented on #3349
Alright, fair enough, I didn't expect any support on, this just hoping. If my fork gets "fixed" thoughts on linking to it in your README? For anyone else looking for `black` with tab indentation.

I really like black on so many levels.  Just to clarify I'm not making `black` "configurable" I'm straight making a version that works with tab indentation instead

[2022-10-22 18:16] felix-hilden commented on #3349
I feel you, and was almost convinced by tabs because of the accessibility argument. But that's also a "no" I'm afraid, at least if we're holding our line from [previous comments](https://github.com/psf/black/issues/2798#issuecomment-1026065042). Using a fork essentially *is* the configuration, right? We've seen a bunch of forks and other wrappers suggested already, none of which we endorse or want

[2022-10-22 20:45] lukehodges commented on #2499
no clue this was from ages ago

[2022-10-23 02:31] JelleZijlstra commented on #3349
We are not switching to tabs, and we are not publicizing any Black forks.

[2022-10-23 02:31] #3349 closed

[2022-10-23 07:44] circles-png opened #3351 "Typo: 'iff' should be 'if'"
https://github.com/psf/black/blob/f22273a72b3f1c15085f2d4a43e8d785bf48c822/src/black/strings.py#L35

[2022-10-23 11:05] denballakh commented on #3351
duplicate of #3344

[2022-10-23 11:42] clavedeluna commented on #2499
@lukehodges  I'd say this is worth closing then?

[2022-10-23 11:46] clavedeluna commented on #563
After looking at all the examples in this and linked tickets, I think an initial solution would be to at least make sure black doesn't crash and the syntax isn't changed. Later, we can agree on where the comment should be moved, if anywhere.

[2022-10-23 14:16] Freed-Wu opened #3352 "Unexpected behaviour"
[code]

Expected: Nothing changed.

Actual:

[code]

[2022-10-23 14:18] #3351 closed

[2022-10-23 14:20] JelleZijlstra commented on #2499
Closing as there's no reproduction steps. If anyone runs into something similar, please open a new issue with full reproduction steps.

[2022-10-23 14:20] #2499 closed

[2022-10-23 16:24] charlie572 commented on #3350
The function definition is split using `left_hand_split`, and this yields a line that looks like "# pylint: disable-next=unused-argumentconfig_settings: dict[str, str | list[str]] | None = None". Then, this line gets split using `delimiter_split`, `standalone_comment_split`, and `right_hand_split`, in that order.

Changing the order to put `standalone_comment_split` first fixes the issue, but caus

[2022-10-23 19:41] felix-hilden commented on #3352
This is not the case on the [playground](https://black.vercel.app/?version=main&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4AC7AH5dAD2IimZxl1N_Wkh8xolBXZUb9-KngBV6iGg1nnMfChB33WPNfzw9lPdUuXGkUCykVKpS_Vd-VXKQNYyDn9m0OoXlIj3dd9QFnerrmtTIZBD19q5PsvQF4v-9PSPHih6b-QksaDI-MxmAcpAl0NTH9G_jxQNrKLAlz4ugLjQxAAAAAC6Cv0yj2yDkAAGaAbwBAABdU64UscRn-wIAAAAABFla). Have you set line length to be less than the default?

[2022-10-23 19:58] Freed-Wu commented on #3352
Yes, I have
[code]

[2022-10-23 20:00] Freed-Wu commented on #3352
Oh, after delete the file, it looks like normal. Thanks!

[2022-10-23 20:00] #3352 closed

[2022-10-24 01:35] viivanofu commented on #3345
Running black with `--version` flag results in ` 0.1.dev1+g27d2014`, that's g-tag matches 22.10 tag
<img width="266" alt="image" src="https://user-images.githubusercontent.com/116267919/197430719-2ad76802-3b8a-4b00-837e-62e2fe7f820d.png">

[2022-10-24 12:08] clavedeluna opened #3355 "Lint `src/blib2to3`"
**Is your feature request related to a problem? Please describe.**

As I've been working on some black issues and overall getting a hang of the repo, I got really frustrated when debugging methods which name an arg or a variable as the built-in `type`, for example:

`def printtoken(type, token, xxx_todo_changeme, xxx_todo_changeme1, line):  # for testing`
`def addtoken(self, type: int, value: Text

[2022-10-24 14:09] busterbeam commented on #3349
I know that, what's with repeating that?

Yes [felix-hilden](https://github.com/felix-hilden) said something similar.

my last words on the matter in this issue will be.  I'm far from making this fork "sustainable" but I imagine that this will be helpful to black in the long term as how I plan to make the fork in the end will encourage "tab" enthusiasts to help develop `black`.  I think you should

[2022-10-24 16:51] BobDotCom commented on #2188
When I enabled this flag, I noticed that in docstring summaries there is an inconsistent newline before the closing quotes. When the summary is longer than the max line length it wraps the closing quotes onto a new line. Because closing quotes aren't normally placed on a newline with this case being the only exception, this makes enforcing docstring formatters such as [pydocstringformatter](https:

[2022-10-24 17:21] liskin commented on #109
Is there any chance of reintroducing the dual-caching approach (content hash in addition to mtime+size)? We run black as a CI step, and this mtime+size approach doesn't really make sense in that setting. The cache never hits unless we make mtimes deterministic using something like https://github.com/MestreLion/git-tools/blob/main/git-restore-mtime or a custom script that turns content hashes into

[2022-10-25 03:08] AdriandLiu commented on #2242
FYI:
If you're using Atom, you can follow this step to point python-black to find the right `black`:
Go to .atom -> packages -> python-black -> lib -> python-black.js -> binPath -> default, change it to the path get from `which black`

[2022-10-25 22:21] ketozhang commented on #510
@JelleZijlstra I think you meant to put parenthesis around the dot accessors

[code]

[code]

After black
[code]

[2022-10-26 01:03] #246 closed

[2022-10-26 02:07] JelleZijlstra opened #3357 "Fix DeprecationWarning in pytest-xdist 3.0.2"
pytest-xdist 3.0.2 was released today and broke our CI with a DeprecationWarning. On a quick look I couldn't figure out how to fix it (we don't use the `rsyncdir` option explicitly), so I pinned pytest-xdist to <3.0.2 in #3356.

We should figure out how to fix the deprecation properly and unpin the package.

Output:

[code]

[2022-10-26 02:09] JelleZijlstra commented on #3355
We already have flake8 set up for linting. I haven't had positive experiences with pylint: it has too many checks that aren't useful and it's slow. I'd be open to adding more flake8 plugins or enable additional rules though.

[2022-10-26 06:52] Deejuha opened #3358 "Move module-level dunder names before the import statements"
**Is your feature request related to a problem? Please describe.**

[PEP8](https://pep8.org/#module-level-dunder-names) says that module level dunder names like `__all__` shall be before import statements, but after the `__future__` statement.

**Describe the solution you'd like**

How about to move the dunder names to their place according to PEP8 using the black?

[2022-10-26 11:30] denballakh commented on #3358
Black is formatter, not linter with autofixing. Also black doesnt change AST.
If you move dunders before imports, you can get broken code:
[code]
After formatting:
[code]

[2022-10-26 16:24] clavedeluna commented on #3355
@JelleZijlstra I'll focus on flake8 then. Im I mistaken or is the current pre-commit configuration for flake8 not running in some sub directories inside `src`? For example, running locally:

[code]

So lots of cleanup can happen inside `blib2to3`.
And regarding the original issue of assigning vars to builtin-names, we could use [flake8-builtins](https://pypi.org/project/flake8-builtins/) for that.

[2022-10-26 16:31] clavedeluna commented on #3357
@JelleZijlstra looks like this is likely a bug on pytest-xdist's side https://github.com/pytest-dev/pytest-xdist/issues/825

[2022-10-26 16:34] JelleZijlstra commented on #3355
I think we didn't run flake8 on blib2to3 initially because it was mostly vendored third-party code. However, we've been modifying it more and more, so it makes sense to point the linter to it too now.

As for builtins, personally I'm not too bothered by reusing names like "type". However, if another maintainer thinks it's valuable to add this plugin, I'd be OK with it.

[2022-10-26 16:36] JelleZijlstra commented on #3357
Thanks for linking that! Seems like pinning for now is the right call, I'll follow along on the pytest-xdist issue to see what the next steps should be for us.

[2022-10-26 16:39] clavedeluna commented on #3355
`type` is probably the least egregious one, but if someone things that's an acceptable practice, then how about the bad behavior that comes out of shadowing `list`, `max`, etc. It's a huge slippery slope.

[2022-10-26 17:32] yuvallangerontheroad opened #3359 "A solution to the obnoxious emojis problem."
Hello! :heart: :rofl: :rofl: :rofl: :rofl: :rofl: :rofl: :rofl: :rofl: :rofl:

First :one: of all, thank you :bow: for an amazing tool. :lollipop: I use it all the time. :watch:

I wrote a tool :wrench: which cleans :soap: :bath: :shower: all(:question:) emojis :hankey: from Black's :black_flag: output:

<https://codeberg.org/yuvallangerontheroad/exorcise-fun>

`pip install .` installs an executab

[2022-10-26 17:35] JelleZijlstra commented on #3359
Have a great day.

It doesn't appear that you're requesting any change to Black.

[2022-10-26 17:35] #3359 closed

[2022-10-26 21:08] yilei commented on #3292
@felix-hilden this is implemented in #3307, please take a look when you get a chance. Thanks 🙏🏼

[2022-10-26 22:57] ichard26 commented on #3358
Yeah I agree this is out of scope for Black. This is a AST unsafe change and would break valid code. Using GitHub Code Search, here are some examples:

- https://github.com/odoo/odoo/blob/177b83ea48197d079ef8568f725008d2f85f1c0b/odoo/cli/server.py#L31
- https://github.com/getsentry/sentry/blob/b5e473b1913fd43738021eba80f7316bf181b8ca/src/sentry/__init__.py#L55
- https://github.com/jumpserver/jumps

[2022-10-26 22:57] #3358 closed

[2022-10-27 01:03] #3292 closed

[2022-10-27 16:32] kerrickstaley opened #3360 "Black does not fix missing newline (flake8 E302) before comment + class definition"
**Describe the bug**

In the following code:
[code]
Black fails to add an extra newline before the comment. This causes flake8 to give an E302 error.

Black *does* add a newline if you delete the comment, so I think this is an issue with Black.

**To Reproduce**
Run this in Bash on a Linux/Unix system:
[code]

black will output
[code]
and flake8 will output
[code]

**Expected behavior**

Black add

[2022-10-27 21:25] nnrepos commented on #3156
not sure if this is related, but i get broken emojis on windows command prompt:
[code]
here it looks ok, but in pycharm it looks like this:
![image](https://user-images.githubusercontent.com/45516943/198401168-e29b3f21-daf8-4ec7-8455-c32b2d10913c.png)

[2022-10-27 22:46] adam-grant-hendry commented on #3156
@JelleZijlstra Can you provide an update?

[2022-10-27 22:47] JelleZijlstra commented on #3156
I don't have any insights to share.

[2022-10-27 22:48] adam-grant-hendry commented on #3156
Did you open an issue with `click`?

[2022-10-27 22:50] adam-grant-hendry commented on #3156
@ichard26 Can you provide insights?

[2022-10-27 22:53] ichard26 commented on #3156
Sadly no.

[2022-10-27 22:54] adam-grant-hendry commented on #3156
Are there any `black` contributors who can help? Can someone be assigned to this?

[2022-10-27 22:56] JelleZijlstra commented on #3156
This is a volunteer project and you can't expect anyone to pick this up spontaneously. Personally I am unlikely to do anything more here because I can't reproduce the problem (I don't even have Windows) and I don't think I will enjoy digging into it.

[2022-10-27 23:00] adam-grant-hendry commented on #3156
@JelleZijlstra This issue has been open since July. I just mean is someone in charge of assigning tasks to contributors for the `black` project.

![image](https://user-images.githubusercontent.com/59346180/198413335-07a3b8ce-769f-4bcd-93bb-d48360248996.png)

Not expecting anything, just asking. If no one can tackle this, I'll close with "won't fix". Is that alright?

[2022-10-27 23:42] adam-grant-hendry commented on #3156
Closing as a "won't fix".

[2022-10-27 23:55] #3308 closed

[2022-10-28 04:25] sabard commented on #359
Any progress on this? I'd be happy to take a look at pushing forward @grigoriosgiann's solution sometime this winter if not.

[2022-10-28 04:30] JelleZijlstra commented on #359
No progress. We have a vague intention to switch to a LibCST parser at some point, but as far as I know there's no concrete work being done at the moment.

[2022-10-28 07:54] felix-hilden commented on #3360
Hi, this has been just fixed in `--preview` ([playground example](https://black.vercel.app/?version=main&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4ACtAHtdAD2IimZxl1N_WlwxRhR7MSgE1N7S6n-JBcAGWzD4YQzFRB71kt9pqLhFB5lpRmO3XXkKH6J60GhVtCo1CnhJk7P3ht8gtZsk42XEx5OhqueZN91nh2-9DlxnkIzuClw3RYEX6vVg2mBRD8IQHqPbNWo3QHxTfmxlZTcWTgAAURMb3W1JC2oAAZcBrgEAAJffIFKxxGf7AgAAAAAEWVo=), #3302) coming your way in the next

[2022-10-28 07:54] #3360 closed

[2022-10-28 08:03] felix-hilden commented on #3355
Not a big deal, but also can't hurt to rename them e.g. `type_`. Sounds reasonable to me 👍

[2022-10-28 13:56] charlie572 commented on #3346
If you put brackets around both arguments of the statement i.e.
[code]

Black outputs
[code]

[2022-10-28 20:02] clavedeluna commented on #3355
I can make a PR to update `exclude: ^(src/blib2to3/|profiling/|tests/data/)` from pre-commit-config to remove blib2to3 so flake8, isort, etc can run on it. Sounds like you all agree this is fine and won't cause issues if merging with a new version of blib2to3 were to happen.

[2022-10-29 00:20] ichard26 commented on #3355
Looks like we are in favour, go for it @clavedeluna! Lib2to3 (from Python core) isn't being developed anymore so we won't be merging in a new upstream revision anytime 🙂

[2022-10-29 05:22] tautomer commented on #1024
I can confirm this is the behavior I observe as well.

[2022-10-29 15:40] radioactive11 commented on #3271
Hello @ichard26
Can I take up this issue?

[2022-10-29 15:41] ichard26 commented on #3271
Yup.

[2022-10-30 19:17] e-b-olson commented on #3263
I was attempting to tackle this one for Hacktoberfest 2022.  Turns out to be a tricky situation.  I do have a potential fix, but the fix causes a `flake8` failure on commit.  So, my solution isn't a viable option.

For anyone else hoping to work on this one, here are some notes you might find helpful:

**TL;DR**

When running `black`, it will strip all trailing whitespaces (which is generally the

[2022-10-30 22:19] metov opened #3364 "`# fmt: skip` ignored in fluent interface"
Say I'd like to format my code like so:
[code]

Black will of course reformat this to put `foo_dict.setdefault("a", {})` on the first line.

Luckily, there are [directives to not auto-format some lines](doesn’t reformat lines that end with # fmt: skip):

Yet this doesn't work:

[code]

becomes:
[code]

Since the line `foo_dict  # fmt: skip` ends with `# fmt: skip`, I would expect black not to refo

[2022-10-30 23:10] hauntsaninja commented on #3340
Thanks for the report!

I believe pre-commit doesn't use wheels (although I don't know why), which might explain some of your reproducibility issues. I can reproduce on main with my editably installed checkout (without `--preview`). Doesn't look like a recent regression either.

[2022-10-30 23:21] hauntsaninja commented on #3340
Goes back all the way to ESP being added to preview (issues should probably get an ESP tag)

[2022-10-31 12:50] e-gebes commented on #3346
This is not a solution, it breaks the code. assert (a, b) is assert <tuple> is always true (because a 2-tuple evaluates to true) and something different than assert (a), b or assert a, (b).

[2022-10-31 16:44] FlipperPA commented on #256
Thank you @aneeshusa and @olivia-hong! Lyft was the go-to ride of choice for us in San Diego at DjangoCon US a few weeks ago. 😀

[2022-10-31 17:25] yilei commented on #1498
FYI-- I'm working on a PR to make this change.

https://github.com/psf/black/issues/445#issuecomment-1287537807 mentions the same issue where the LHS is a tuple.

[2022-10-31 19:57] yilei commented on #1525
Triaging comments:

1. Example from OP https://github.com/psf/black/issues/1525#issue-648293373 is already fixed: [playground link](https://black.vercel.app/?version=stable&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4AFHAJNdAD2IimZxl1N_WlbvK5V8G17R4xukEnqRFWVRr90XpIX-hmnTVOToWeZRf_GrZx8A2AaEfckhaRH25L5PW_ALtd3bpkl8RzxoTjWsXBg7yUO9WMT3_MOxHuA5kt8HH3M1mKfN0oK_jOGYB8E91oTCQInUCVr1j_36VS4jnL49T34-HQ-BqJ_DD

[2022-10-31 21:02] Dr-Irv commented on #1525
Should I create a new issue for that?

[2022-11-01 23:33] ashb commented on #3156
@adam-grant-hendry Please assign this to me, I'll take it on.

[2022-11-02 10:34] timozerrer opened #3371 "Line Breaks on long class member names"
**Describe the bug**

Black does not break lines containing class member access even though character line limit is exceeded.

**To Reproduce**

Given this code using dataclasses with long member names:

[code]
Black removes line breaks if I insert them myself (See expected behaviour section).

Running black formatter with explicit line length:

[code]

Pylint reports line exceeding length:
[code]

[2022-11-02 11:46] naught101 commented on #3346
Good catch!

Maybe `assert` will be a function in python 4 :sweat_smile:

[2022-11-02 12:41] ikamensh opened #3372 "# fmt: off block is partially reformatted"
**Describe the bug**

**To Reproduce**
Run black on this code, and observe a change that should not have happened.

[code]

Reformatting happens on the line before # fmt: on, with comment moved to the maximum left position.

**Expected behavior**

No reformatting takes place inside `# fmt: off` block

**Environment**

Both local 22.10 and https://black.vercel.app/?version=main

## Additional issue

[2022-11-02 19:10] JelleZijlstra commented on #3372
I'm not sure this is supposed to work. `# fmt: off` is documented as working on blocks (https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html), not on every possible subexpression.

[2022-11-02 19:13] JelleZijlstra commented on #3371
The last case is a duplicate of #510 (attribute chains). You mention various other cases, but those should get specific issues in the https://github.com/psf/black/labels/F%3A%20linetoolong label.

[2022-11-03 07:30] arcanemachine commented on #1776
@bellini666 Forgive me for replying to this old issue, but I have been running in circles trying to get `--force-exclude` to work with Black and ALE.

How did this help you fix this problem?

[2022-11-03 13:27] ashb commented on #3156
This is a fairly hard problem to solve and is shows up when black (or any python program) is captured/redirected in anyway `black | more` on Windows has the same problem.

This snippet from [sys.stdout](https://docs.python.org/3/library/sys.html#sys.stdout) doc says what's happening:

[code]

For anyone else hitting this problem, the only possible fix I have found is to set `PYTHONUTF8=1` in the y

[2022-11-03 14:29] adam-grant-hendry commented on #3156
@ashb Thank you for looking at this and taking an interest. I appreciate you contributing your time.

In regards to the above, I have some remarks:

1. Nearly all other packages, e.g. `pycln`, do not experience problems with emojis out-of-the-box and do not require users to set  `PYTHONUTF8=1`. It could be that they set this environment variable programmatically under the hood, possibly like so:

[2022-11-03 14:33] adam-grant-hendry commented on #3156
@ashb I would also be willing to help you with a PR, should you need assistance. Please let me know if this is something you would like me to do.

[2022-11-03 14:41] JelleZijlstra commented on #3156
Great to see progress being made here! I'm happy to review a PR if that's the outcome.

[2022-11-03 18:45] ashb commented on #3156
Sure I'll take a look at pyncl and see what it does differently

[2022-11-03 20:26] aaossa opened #3373 "Support interactive mode to select changes"
**Is your feature request related to a problem? Please describe.**

I'm used to run `black <target> --check --diff --color` to see format suggestions by Black and apply them myself. I do this because I intend to improve my coding skills by reading and writing better code, and also because sometimes renaming a variable, using a better indentation or placing a comma properly is a task that a human c

[2022-11-03 20:55] JelleZijlstra commented on #3373
This sounds like an unusual use case that few of our users will need. As such, I'd be hesitant to accept it in Black itself. Instead, I'd recommend creating a separate tool that invokes `black --diff` and then interactively applies the diff.

[2022-11-03 21:25] ashb commented on #3156
Here is how pycln fixes it:

https://github.com/hadialqattan/pycln/blob/a9b8b0738caf181df649005e5a51c2b61c911852/pycln/__init__.py#L15-L20

Setting `PYTHONUITF8` on a _running_ process won't have any effect, the encoding of sys.std* is set very early on in the initalization of the python interpreter.

In #3374 I've done a similar fix to what pycln did. PTAL @JelleZijlstra

[2022-11-04 07:26] juhoinkinen commented on #1908
Hi @ichard26 and @cooperlees !

It would be nice to have your official GH Action in the Marketplace. I was a bit confused when I did not find it there, but this issue explained the situation.

[2022-11-04 07:40] adam-grant-hendry commented on #3156
I doubt your motives based on your conflicting responses, considering you said

I find your attitude political and decisive rather than contributing to the community.

[2022-11-04 09:35] ashb commented on #3156
@adam-grant-hendry That is an unhelpful comment. I understand your frustration, but leaving the comment serves no purpose but to annoy others.

[2022-11-04 11:50] ddelange commented on #3169
fwiw starting from black 22.10.0, installing from source (in my case the pre-commit hook) is already not supported anymore on py3.6, due to `hatchling>=1` being py3.7+:

[code]

[2022-11-04 12:27] ichard26 commented on #3169
That's... intentional? 22.10.0 doesn't support Python 3.6 at all as planned. It is confusing to keep this issue open though, so I'll close it.

[2022-11-04 12:27] #3169 closed

[2022-11-04 13:52] ambv commented on #3156
@adam-grant-hendry, man, don't be like that. Don't treat maintainers of an open-source project like they owe you anything. The license is pretty explicit about the reality of the situation. I don't like waving it in front of anybody's nose but it feels like you misunderstand your role.

The issue has been filed (thank you), and it's open until somebody with Windows will handle it. Maybe you? You c

[2022-11-04 16:10] adam-grant-hendry commented on #3156
@ashb @ambv You are right: my comment was rude and unhelpful.

@JelleZijlstra I'm sorry for what I said. I deleted my last comment and hope you will accept my apology. Thank you for maintaining `black` and offering to review. I am truly sorry for being rude; it was uncalled for.

[2022-11-05 05:10] #3291 closed

[2022-11-05 06:04] Lincoln-Chamberlin opened #3375 "Ambiguity in the documentation"
**Is this related to a problem? Please describe.**

This is a suggestion to improve some ambiguity in the Pragmatism section of the documentation.
https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#ast-before-and-after-formatting

Current text (first paragraph of section 'AST before and after formatting')

**Describe the solution you'd like**

I would like to see it spe

[2022-11-05 06:34] hirmiura commented on #1197
bump.
I would like this feature too.
![black日本語](https://user-images.githubusercontent.com/6115787/200106231-1da4318a-4e8c-4da9-bbff-8628da031011.png)

[2022-11-05 12:32] bellini666 commented on #1776
Hey @arcanemachine ,

I'm not using ale anymore because I changed from vim to neovim, and in there I'm using null-ls. But I think ale needs to be upgraded to use the `--stdin-filename` to the command line for this to work

[2022-11-05 14:21] JelleZijlstra commented on #3375
Good point, PR welcome!

[2022-11-06 01:29] ichard26 commented on #1908
The PSF organisation has not accepted the GitHub Marketplace Developer Agreement and honestly I'm not very inclined to ask them since it'd add this intusive banner that's impossible to remove. It makes sense when the whole repository is for just the GH Action, but this repository is also the official codebase for almost everything else.

![image](https://user-images.githubusercontent.com/63936253/

[2022-11-06 03:34] Lincoln-Chamberlin commented on #3375
I would recommend a wording like

I am not currently interested in learning about the pull request prosses for black

[2022-11-06 03:48] ichard26 commented on #3375
No worries! This makes for an easy PR that's great for beginners. I won't say no to that :)

[2022-11-06 04:08] Lincoln-Chamberlin commented on #3346
unlikely, I would much rather see this fixed much sooner

another example of the issue
black will turn
`assert isinstance(hitbox["e"], (int, float)), hitbox does not have member e (for east)"`
into
` assert isinstance(
     hitbox["e"], (int, float)
 ), "hitbox does not have member e (for east)"`
which is significantly harder to read

a posable solution (as mentioned in #1483) would be to format i

[2022-11-06 09:22] isac322 opened #3376 "Failed to build mypyc enabled wheel on armv7 (32bit) machine"
**Describe the bug**

Failed to build wheel using mypyc on armv7 machine.

**To Reproduce**

Build [Dockerfile](https://github.com/isac322/docker_image_blackd/blob/c5d0e377bbd77dcb01a4a25f1cc02d4180106216/Dockerfile) with build-arg `VERSION=22.10.0` on armv7 machine.

The resulting error is:

[code]

**Environment**

- Black's version: 22.10.0
- OS and Python version: Linux/Python 3.11

**Addition

[2022-11-06 10:22] arcanemachine commented on #1776
OK, thanks for the info.

[2022-11-07 15:02] jakkdl commented on #2318
LibCST now supports (according to readme) 3.0->3.11, though it does say

[2022-11-07 20:22] ThatGeoGuy commented on #2027
Wanted to tag onto this since I've had some issues with this myself. The Vim integration here isn't great (as admitted) and actually even has some bugs in the formatting. Example:

[code]

Notice above that the spacing between `**` is different for `x` and `y`. With the official vim extension it formats this as:

[code]

whereas if you were to call black on the file itself it would provide the fol

[2022-11-07 20:25] JelleZijlstra commented on #2027
@ThatGeoGuy you are probably running a different version of Black within your vim plugin.

[2022-11-08 00:34] ThatGeoGuy commented on #2027
You're probably right on that, but I think that's kind of part of the issue too? I want to be sure if I'm using e.g. Pyenv in a directory that I'm using the version of black that is in the `requirements.txt` for that given project, not whatever virtualenv was constructed by the plugin.

There's a lot of complexity and nuance here that doesn't seem to be an issue in other editors / integrations so

[2022-11-08 15:50] #3315 closed

[2022-11-08 19:18] aaossa commented on #2424
Can I work on this? I think that one way to check if one of the sources (paths) passed to Black is root, we can check the absolute path and compare it with its parent (aiming for a portable solution):

[code]

Not sure if its necessary to compare `src` to home:

[code]

Then, adding a message and a proper flag (`--format-root`? `--accept-root`?) could complete this feature.

[2022-11-08 19:21] olivia-hong commented on #256
Posting an update here for visibility as well: I've updated the PR Aneesh originally put up and it's now fully ready for review https://github.com/psf/black/pull/1879#issuecomment-1292668826! Comments/feedback are much appreciated.

Since the issue is a few years old at this point, tagging some of the original reviewers @JelleZijlstra @ichard26 as an FYI. Apologies for any noise.

[2022-11-09 05:42] KindaOK commented on #3268
I'll take a look at the issue. It also comes up for me in Python 3.8 (Windows) on Black 22.10.0

[2022-11-09 23:08] #1671 closed

[2022-11-09 23:08] #3229 closed

[2022-11-10 04:00] ichard26 commented on #86
An example off the top of my head: [readline](https://docs.python.org/3/library/readline.html) is a stdlib module commonly used as simply an import. By importing it, history is enabled for `input()` prompts.

Yes it would be useful, but I don't believe this is in scope for Black. Black's focus is code style, not code optimization or linting. Other tools can and should handle those; I don't want to

[2022-11-10 13:36] mcsitter commented on #3196
I would say the way black does it is excellent, and the single triple quotes do not significantly improve the readability, imo.

[2022-11-10 15:15] JelleZijlstra opened #3379 "Make CI fail if a PR is targeted to "stable""
#3378 was just accidentally merged into the `stable` branch, which should only be updated after releases. There appears to be no way to use branch protection rules to disallow such PRs (community/community#13836). To prevent similar mistakes in the future, we should have some check on PRs that fails if the target isn't `main`.

[2022-11-11 02:07] aaossa commented on #3375
This seems to have been completed by #3378

[2022-11-11 02:16] ichard26 commented on #3375
Yup! Thanks for noticing! I really did merge that PR mindlessly didn't I... whoops :)

[2022-11-11 02:16] #3375 closed

[2022-11-12 01:05] #2382 closed

[2022-11-12 01:12] ichard26 commented on #3376
Hey, I manage our mypyc deployment. I didn't know mypyc supported armv7! I'll look into upgrading the toolchain soon -- thanks for the heads up!

[2022-11-13 18:37] drdv opened #3381 "inconsistent format of `if` condition"
[code]

After applying Black:

[code]
The formatting in `f2()` seems to be inconsistent. Based on `f3()`, I expected to have:

[code]

[2022-11-13 19:11] ichard26 commented on #2424
I'd prefer warning on root than erroring out so we wouldn't have to add yet another flag to disable the safeguard. I'm not against erroring out though. Checking if home was passed wouldn't hurt assuming it isn't complicated.

I'd just be careful that the `resolve()` calls don't accidentally crash Black. We're careful to make sure a `resolve()` call erroring only causing the offending source entry

[2022-11-14 01:08] andersk commented on #1797
Although I also don’t think we should be constrained by Flake8, we could make significant progress here even within that constraint—Flake8 has no complaints about

[code]

It still expects the two blank lines between the group of overload declarations and the main definition of the same function, but 2*n* + 2 lines for *n* overloads is still much more readable than 5*n*.

[2022-11-14 13:11] gosuto-inzasheru commented on #1140
accepting `- uses: psf/black@21.9b0` in the yaml is very confusing if it doesnt actually run in that version.

comment by @JunranY fixed it for me; have to make the version explicit on a seperate line `version: "21.9b0"` to actually make it run in a custom version.

[2022-11-14 13:40] ichard26 opened #3382 "GitHub Action: Use action version as default Black version, instead of latest"
_Originally posted by @ichard26 in https://github.com/psf/black/issues/1140#issuecomment-1026379455_

[2022-11-14 13:41] ichard26 commented on #1140
I said I'd change this, but I never even opened an issue. I'll fix that.

[2022-11-14 17:41] aaossa opened #3384 "Output incorrectly claims symbolic links presence when formatting from outside a project"
**Describe the bug**

When trying to format a project from the outside, the verbose output shows says that there are symbolic links that points outside of the project, but displays the wrong project path. This behavior seem to be triggered when the command is executed from outside a project on a folder.

**To Reproduce**

Consider the following tree:

[code]

When trying to format a folder from `h

[2022-11-14 19:56] aaossa commented on #3384
Seems like this can't be tested easily because the exception can't be reproduced in the test suite:

[code]

This function call is similar to the call from the CLI, but the test suite fails because `src` is an invalid value (`is_dir()` returns false), because every test uses `assert_collected_sources` and passes an absolute path to the source/target files. But, in reality, the CLI receives relativ

[2022-11-14 22:59] yilei commented on #3381
I think this is another example for #2156

[2022-11-14 23:25] drdv commented on #3381
Indeed. Thanks.

[2022-11-14 23:25] #3381 closed

[2022-11-15 05:35] aaossa commented on #3384
Here's a working test. Current behavior makes the test fail (`call_count` is 4) while patch makes the tesst pass (`call_count` is 3). Had to patch some functions because of the differences between the actual behavior when using the CLI (using relative paths) and the tested behavior (which uses absolute paths):

[code]

[2022-11-16 06:54] KindaOK commented on #3268
Pull request at #3377

[2022-11-16 11:53] niderhoff opened #3386 "black cli show loaded configuration."
**Is your feature request related to a problem? Please describe.**

Sometimes when dealing with multiple environment settings, IDEs, and pyproject.toml files etc. etc. is beneficial for a project team to have a confirmation about the actual applied black-settings ("line length") in the CI CD pipeline.

`black -v` will show a line like this:  `Using configuration from project root.`.
However, it do

[2022-11-18 07:30] JTmain commented on #3113
I would like to pick this up, is this still an issue?

[2022-11-18 08:53] Shadow2008 opened #3387 "Not sure what the bug was. Might be me importing a custom function, but it still crashed when I defined it at the top"
**Black v22.10.0**

[Playground link](https://black.vercel.app/?version=stable&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4ARIAd1dAD2IimZxl1N_WlkPinBFoZRaGKlkXO7YMZhsw67RXaXtuJjalQlEjZ2xRlS7zJwwsbVAP4y8MNUapf5X-gLM_REfl5D1HMkw3DhDV96-f0L3qab9mfVZU1qB5lxBoLoMvstQBhDcnD4UMoobHN7VDT7xfSqXwv5gDSDdv4IkM8mSA8y9ETiW4iI02A3Gv3UwcQ2TwKoPZRFZdS-fOeDr6u_EUOA4mQaYmYkswaUMu0KbfifC7l36cAD7ky1piz41kFSNk7MoCeK880Vea5J

[2022-11-18 14:40] JelleZijlstra commented on #3387
You have a syntax error on the line `int(numPoints/4) = smallNum`.

[2022-11-18 14:40] #3387 closed

[2022-11-19 16:25] JTmain commented on #2868
I'd like to take a look at this if you're happy to send it to me?

[2022-11-20 04:42] JelleZijlstra commented on #2868
Sorry this didn't get a response earlier!

If you want to, you can email me a copy of the file (my email is on my GitHub profile). However, I'd recommend that you try to minimize the example yourself (this doesn't need any special knowledge: just delete half the file, see if Black still crashes, repeat). If you can limit your code to a small sample that still triggers a crash, it's easier to figur

[2022-11-20 04:42] #2868 closed

[2022-11-20 04:44] JelleZijlstra commented on #3386
I'm not sure this merits a new flag. Perhaps `-v` should simply print out the config settings?

[2022-11-20 09:51] JTmain commented on #3386
Good point, I will make the adjustments!

[2022-11-20 13:42] JTmain commented on #3386
PR#3388 should add this functionality. This is my first PR and so checks need triggering by a maintainer I believe. I have verified that the tests all run using tox. I guess it's now awaiting review?

[2022-11-20 18:24] JTmain commented on #3072
This issue has also been a problem for me so I attempted a fix. PR linked to this issue.

[2022-11-21 20:51] danielcjacobs commented on #236
why has this not been resolved yet?

[2022-11-22 13:50] KOLANICH opened #3391 "Don't replace global config with `pyproject.toml` one, overlay `pyproject.toml` one over the global one"
**Is your feature request related to a problem? Please describe.**

If a user wants to require a certain aspect in `pyproject.toml`, he can do it. If he doesn't do it, then it means he doesn't care. It should be up to the global config of the one running the tool. If a user wants to enforce the black-default value, he can define a field, but leave it as `None` and `black` should set the default va

[2022-11-22 17:34] mainj12 commented on #3386
I've created a PR for this, it would be a useful feature. PR - #3392

[2022-11-22 18:05] mainj12 commented on #3072
I've made a proposed fix, see PR - #3393

[2022-11-24 10:47] uweschmitt commented on #2845
Any updates on this? `mypy` published https://github.com/python/mypy/issues/13385 mean while. I reinstalled black and got version `22.10.0` which still crashes on my Mac.

[2022-11-25 16:20] jldevezas commented on #596
I know this has been closed for a whole now, but I believe this should be reconsidered. During debugging, it's normal for blocks of code to be temporarily commented out. If black indents this under, let's say, the previous `if `, when it should be under the same level, then a distracted programmer could easily uncomment the block and wrongly leave it under the `if` block. Does this concern make se

[2022-11-25 23:00] JelleZijlstra commented on #596
If you comment out code like this:

[code]
Black will leave the leading space alone. That's how most editors do it by default if you use a command like Cmd+/.

[2022-11-25 23:22] jldevezas commented on #596
@JelleZijlstra That's not it. Here's an example of what I mean:

[code]

If you comment the second `if`, you will get this:

[code]

If you uncomment back, you will get:

[code]

You might not agree, but I personally find this inconsistent behavior, worth taking a look at, as it's not uncommon at all.

[2022-11-26 00:31] JelleZijlstra commented on #596
I can't reproduce that behavior: https://black.vercel.app/?version=stable&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4AC6AHBdAD2IimZxl1N_Wlws4TQhI6pD0uXxX7RR5ooUKbRVtOLg_Eitq-VXSdyageOasnuvhgRQERodoovGPR-g93fi5gA8aGFfLYB8uPwWZPFIhrZNXmrQ2qw6IoFz9k9L043WBXpU731yEmRVWwQLqqhKyQAAXKJ4MH91ShgAAYwBuwEAAGKK9lyxxGf7AgAAAAAEWVo=

[2022-11-26 16:16] jldevezas commented on #596
You're right. I can't reproduce it either on vscode now (different machine). Perhaps there is some other formatter (from my side) causing the issue. I will confirm whether or not it was black and let you know. I thought it was a design choice, but it doesn't look that way, so I'm fine with it. Thanks for the clarifications!

[2022-11-27 14:00] calliecameron opened #3395 "Add an option to dereference symlinks"
**Is your feature request related to a problem? Please describe.**

I'm trying to integrate black into a bazel project, run as a bazel test, to check python formatting at precommit. For sandboxing reasons, bazel tests don't run on the source files directly, but on a special output directory with symlinks to the source files. However, black skips symlinks, so it skips all the files and reports succ

[2022-11-27 14:01] pawamoy commented on #3306
In fact CommonMark says that we can use a backslash instead of trailing spaces.

For those using Python-Markdown / MkDocs, tt has been asked before: https://github.com/Python-Markdown/markdown/issues/1157.
Suggested solution: use the `pymdownx.escapeall` extension, with the `hardbreak` option enabled:

[code]

[2022-11-28 10:32] ndim commented on #3074
There are also dumb terminals which do not interpret ANSI escape sequences, instead showing them verbatim.

In my specific case, the env var is `TERM=dumb` (emacs compilation buffer on Linux), and as `compilation`, I am running first `black` and then `flake8`.

In the compilation buffer, lines like

    foo/bar.py:23:42: F821 undefined name 'txt'

will be colored by the editor to show the `foo/bar

[2022-11-30 05:02] Skyline124 opened #3396 "typing_extensions module not installed under Python3.10"
Hey there!

I just noticed that under the following configuration:

- Ubuntu 20.04 with the following kernel:
`Linux ubuntu 5.15.0-53-generic #59~20.04.1-Ubuntu SMP Thu Oct 20 15:10:22 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`
- Using python 3.10 installed via apt from the `ppa:deadsnakes/ppa` repository:
    - `Python 3.10.8 (main, Oct 12 2022, 19:14:26) [GCC 9.4.0] on linux`
    - `pip 22.3.1 fro

[2022-11-30 08:00] hauntsaninja commented on #3396
Yes, this is expected. When running using Python 3.10 black does not import typing_extensions, so it does not declare the dependency either.

[2022-11-30 14:23] edreamleo opened #3397 "Allow Leo to use black :-)"
I would love to have [Leo](http://leoeditor.com/) use Black as Leo's one-and-only code formatter. That's not possible at present.

**The problem**

Leo uses **sentinels**, comments starting with `#@` (no space after the pound sign), to denote outline structure. Sentinels appear in the **external files** that Leo produces.

This convention goes back more than two decades. Recent versions of Leo can

[2022-11-30 15:05] JelleZijlstra commented on #3397
This would be implementable by changing https://github.com/psf/black/blob/main/src/black/comments.py#L32, which controls comments that don't get spaces inserted.

If we stop adding spaces to '#@`, that could affect non-Leo users. Python lines can start with `@` (decorators), so if a user comments out a decorator by just adding `#`, currently Black will clean that up by adding a space.

A new optio

[2022-11-30 16:46] Avasam opened #3398 "`Chat` link is an invalid discord invite"
**Is this related to a problem? Please describe.**

https://discord.com/invite/RtVdv86PrH is not a valid invite
![image](https://user-images.githubusercontent.com/1350584/204857517-6257602f-3e9b-452f-9795-8344131d54f5.png)
![image](https://user-images.githubusercontent.com/1350584/204857550-94218c46-c0da-43e8-b629-46330cde9149.png)

**Describe the solution you'd like**

Fixing the broken link :)

[2022-11-30 17:02] Avasam opened #3399 "Breaking `# pyright: ignore[]` used with `# type: ignore[]` comments on short lines"
**Describe the style change**

When validating a project with both pyright and mypy, it's possible to independently validate both checkers. (since pyright 1.1.282)
However, both expect their ignore comment to be at the start of the line.

**Examples in the current _Black_ style**

`line-lenght=130`
[code]

**Desired style**

[code]

**Additional context**

https://github.com/microsoft/pyright/issu

[2022-11-30 17:08] Avasam commented on #3398
Is the channel accessible by default? In other words, do new members need to be given a role before they can see the channel?

[2022-11-30 17:11] JelleZijlstra commented on #3398
The channel is public.

[2022-11-30 17:19] Avasam commented on #3398
Ok, I'll contact discord and re-open this issue if it seems to be on the server's side.

[2022-11-30 17:19] #3398 closed

[2022-11-30 20:22] Skyline124 commented on #3396
Thanks for the super fast response! I figured as such, I will have a little more dig then, trying to figure out more precisely what is going on...